﻿@model Stuck.BasePresentation.Models.BookingModel

@{
    ViewBag.Title = "Roadside Assistance";
}

@{
    string googlemapuri = "https://maps.googleapis.com/maps/api/js?libraries=places&language=en-AU&key=" + Model.GoogleMapKey;
    var towstring = BasePresentation.Lookup.ServiceType_Constant.Tow;
    var pricetext = string.Empty;

    if (Model.Service.serviceId == BasePresentation.Lookup.ServiceType_Constant.FlatBattery)
    {
        pricetext = "call out fee";
    }
    else if (Model.Service.serviceId == BasePresentation.Lookup.ServiceType_Constant.NoFuel)
    {
        pricetext = "call out fee including $10 worth of diesel or petrol.  If you run on LPG or electric, ";
    }
    else if (Model.Service.serviceId == BasePresentation.Lookup.ServiceType_Constant.FlatTyre)
    {
        pricetext = "call out fee to come and change your flat tyre with your serviceable spare.  If you have multiple flat tyres or don’t have the proper wheel nut key, ";
    }
    else if (Model.Service.serviceId == BasePresentation.Lookup.ServiceType_Constant.Mechanical)
    {
        pricetext = "call out fee";
    }
    else if (Model.Service.serviceId == BasePresentation.Lookup.ServiceType_Constant.LockedOut)
    {
        pricetext = "call out fee. Have your driver’s license available, and be willing to be photographed by our technician.";
    }
    else if (Model.Service.serviceId == BasePresentation.Lookup.ServiceType_Constant.Tow)
    {
        pricetext = "call out fee";
    }
    else
    {
        pricetext = "call out fee";
    }
}

<script src="@googlemapuri"></script>
<script src="~/Scripts/custom.maputility.stuck.js"></script>
<script src="~/Scripts/custom.clientcalls.stuck.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@using (Html.BeginForm("ConfirmBooking", "Booking", FormMethod.Post, new { id = "formConfirmBooking" }))
{
    @Html.Hidden("hiddenTow", towstring)
    <div class="srvc">
        <div>
            <div class="map_wrapper">
                <div id="divMap" class="mainMap"></div>
                <div class="location_wrap">
                    @Html.TextBoxFor(m => m.Address, new { @class = "enter_location source_loc form-control", disabled = "disabled" })
                    @if (Model.ServiceId.ToLower() == BasePresentation.Lookup.ServiceType_Constant.Tow)
                    {
                        @Html.TextBoxFor(m => m.Destination, new { @class = "enter_location form-control", placeholder = "Enter Tow Destination" })
                        @Html.Hidden("ConfirmBookingMove", "show")
                    }
                </div>
            </div>
            <div class="choose_service">
                @*<div class="choose_service_title" style="cursor:pointer;" onclick="submitbooking()">CONFIRM YOUR SERVICE</div>*@
                <div class="choose_service_list" id="divStuckServices"></div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="bookingConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Booking Confirmation</h4>
                    </div>
                    <div class="modal-body" id="bookingConfirmationModalContent">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="bookingConfirmationModalButton">Continue Booking</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.HiddenFor(m => m.Address)
    @Html.HiddenFor(m => m.ServiceId)
    @Html.HiddenFor(m => m.serviceRegion)

}

<script>
    $(document).ready(function ()
    {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        // init jquery helpers for map
        var model = @Html.Raw(Json.Encode(Model));
        DrawMap();
        console.log(model);
        DrawMarkerByCordinates(model.AddressGeoLocation.latitude, model.AddressGeoLocation.longitude);
        PlugAddressSuggestion();
        PlugDesintationSuggestion();
        ShowBookingServiceDetails();

        /// ravi 
        $(".srvc").parent().parent().addClass('hgt');
        $(".after_click").parent().addClass('clk-view');
    });

        function submitbooking()
    {
        var servicemodel = @Html.Raw(Json.Encode(Model));
        if (servicemodel != undefined)
        {
            if (servicemodel.ServiceId == '@BasePresentation.Lookup.ServiceType_Constant.Tow')
            {
                if ($("#Destination").val() == '' || $("#Destination").val() == undefined)
                {
                    $("#bookingConfirmationModalButton").hide();
                    $("#bookingConfirmationModalContent").html('Please enter Desintaion Location for TOW Service.');
                    $('#bookingConfirmationModal').modal('show');
                    return;
                }
                else if ($("#Destination").val() === $("#Address").val())
                {
                    $("#bookingConfirmationModalButton").hide();
                    $("#bookingConfirmationModalContent").html('Start Location and Destination Location can not be same.');
                    $('#bookingConfirmationModal').modal('show');
                    return;
                }
                else
                {
                    //$("#bookingConfirmationModalContent").html('<div class="info"><div class="info_title">Pickup:</div><div class="info_value">' + $("#Address").val() + '</div></div><div class="info"><div class="info_title">Destination:</div><div class="info_value">' + $("#Destination").val() + '</div></div>');
                    //$("#bookingConfirmationModalButton").show();
                    //$('#bookingConfirmationModal').modal('show');
                    $("#formConfirmBooking").submit();
                }
            }
            else
            {
                if ($("#Destination").val() === $("#Address").val())
                {
                    $("#bookingConfirmationModalButton").hide();
                    $("#bookingConfirmationModalContent").html('Start Location and Destination Location can not be same.');
                    $('#bookingConfirmationModal').modal('show');
                    return;
                }
                else
                {
                    $("#formConfirmBooking").submit();
                }
            }

        }
    }


    function ShowBookingServiceDetails()
    {
        var servicemodel = @Html.Raw(Json.Encode(Model));
        if (servicemodel.Service != undefined)
        {
            var divstring = "<div class='box-outer after_click'>";
            divstring = divstring + "<div class='box_icon'><img  src='" + servicemodel.Service.serviceIconUrl + "' /></div>";
            if (servicemodel.ServiceId == '@BasePresentation.Lookup.ServiceType_Constant.Tow')
            {
                divstring = divstring + "<div class='box_desc'><div class='desc_title'>" + servicemodel.Service.serviceDescription + "</div> <div style='text-align:center;'> $" + servicemodel.Service.variablePricingDetails.basePrice + " for first " + servicemodel.Service.variablePricingDetails.includedUnits + " " + servicemodel.Service.variablePricingDetails.units + "<br/>$" + servicemodel.Service.variablePricingDetails.additionalPricePerUnitAboveBase + " per extra " + servicemodel.Service.variablePricingDetails.units + "</div>";
            }
            else if (servicemodel.ServiceId == '@BasePresentation.Lookup.ServiceType_Constant.LockedOut')
            {
                divstring = divstring + "<div class='box_desc'><div class='desc_title'>" + servicemodel.Service.serviceDescription + "</div> $" + servicemodel.Service.fixedPricingDetails.indicativeCost + " @pricetext<br/>" // $" + servicemodel.Service.fixedPricingDetails.inTransitCancellationFee + " for In Transit Serivice Cancellation<br/>$" + servicemodel.Service.fixedPricingDetails.serviceUnderwayCancellationFee + " for In Underway Service Cancellation";
            }
            else if (servicemodel.ServiceId == '@BasePresentation.Lookup.ServiceType_Constant.FlatBattery')
            {
                divstring = divstring + "<div class='box_desc'><div class='desc_title'>" + servicemodel.Service.serviceDescription + "</div> $" + servicemodel.Service.fixedPricingDetails.indicativeCost + " @pricetext<br/>" // $" + servicemodel.Service.fixedPricingDetails.inTransitCancellationFee + " for In Transit Serivice Cancellation<br/>$" + servicemodel.Service.fixedPricingDetails.serviceUnderwayCancellationFee + " for In Underway Service Cancellation";
            }
            else if (servicemodel.ServiceId == '@BasePresentation.Lookup.ServiceType_Constant.FlatTyre')
            {
                divstring = divstring + "<div class='box_desc'><div class='desc_title'>" + servicemodel.Service.serviceDescription + "</div> $" + servicemodel.Service.fixedPricingDetails.indicativeCost + " @pricetext" + "<a href= '/Booking/ShowConfirmBooking?Address=" + $("#Address").val() + "&ServiceId=" + $("#hiddenTow").val() +"'> you’ll need to order a tow instead.</a> <br/>" // $" + servicemodel.Service.fixedPricingDetails.inTransitCancellationFee + " for In Transit Serivice Cancellation<br/>$" + servicemodel.Service.fixedPricingDetails.serviceUnderwayCancellationFee + " for In Underway Service Cancellation";
            }
             else if (servicemodel.ServiceId == '@BasePresentation.Lookup.ServiceType_Constant.Mechanical')
            {
                divstring = divstring + "<div class='box_desc'><div class='desc_title'>" + servicemodel.Service.serviceDescription + "</div> $" + servicemodel.Service.fixedPricingDetails.indicativeCost + " @pricetext<br/>" // $" + servicemodel.Service.fixedPricingDetails.inTransitCancellationFee + " for In Transit Serivice Cancellation<br/>$" + servicemodel.Service.fixedPricingDetails.serviceUnderwayCancellationFee + " for In Underway Service Cancellation";
            }
             else if (servicemodel.ServiceId == '@BasePresentation.Lookup.ServiceType_Constant.NoFuel')
            {
                divstring = divstring + "<div class='box_desc'><div class='desc_title'>" + servicemodel.Service.serviceDescription + "</div> $" + servicemodel.Service.fixedPricingDetails.indicativeCost + " @pricetext" + "<a href= '/Booking/ShowConfirmBooking?Address=" + $("#Address").val() + "&ServiceId=" + $("#hiddenTow").val() +"'> you’ll need to order a tow instead.</a ><br/>"// $" + servicemodel.Service.fixedPricingDetails.inTransitCancellationFee + " for In Transit Serivice Cancellation<br/>$" + servicemodel.Service.fixedPricingDetails.serviceUnderwayCancellationFee + " for In Underway Service Cancellation";
            }
            divstring = divstring + "<div style='margin-top:5px;margin-bottom:5px;color:red;'>Only Charged on Completion</div><input type='button' onclick='submitbooking()' id='btnConfirmJob' value='CONFIRM YOUR SERVICE' class='btn btn-primary' />"
            divstring = divstring + "</div>";
            $("#divStuckServices").html(divstring);
        }
    }
</script>