﻿@model Stuck.BasePresentation.Models.UserModel

@{
    ViewBag.Title = "My Profile";
}


@using (Html.BeginForm("CustomerProfile", "Account", FormMethod.Post))
{
    <div class="container">
        <div class="page_wrapper">
            <div class="page_header">
                <h3 class="fusion_title">My Profile</h3>
            </div>

            <div class="page_sections">
                <div class="centered fixed_width">
                    @if (ViewBag.ShowSuccess == true)
                    {
                        <div>
                            <h5>Your profile is update successfully. you will get job notifications on your email / phone.</h5>
                        </div>
                    }
                    <div class="form_table mB15">
                        <label class="form_cell">Name</label>
                        <div class="form_cell text_box">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.name, null, new { @class = "validlablel" })
                        </div>
                    </div>
                    <div class="form_table mB15">
                        <label class="form_cell">Email</label>
                        <div class="form_cell text_box">
                            @Html.TextBoxFor(m => m.emailAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.emailAddress, null, new { @class = "validlablel" })
                        </div>
                    </div>
                    <div class="form_table mB15">
                        <label class="form_cell">Phone #</label>
                        <div class="form_cell text_box">
                            @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.phoneNumber, null, new { @class = "validlablel" })
                        </div>
                    </div>
                    <div class="form_table mB15">
                        <label class="form_cell">Referral Code</label>
                        <div class="form_cell text_box">
                            @Html.TextBoxFor(m => m.referralCode, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.referralCode, null, new { @class = "validlablel" })
                        </div>
                    </div>
                    <div class="form_table mB15" style="display:none;">
                        <div class="form_cell text_box">
                            <label>@Html.CheckBoxFor(m => m.acceptedTermsAndConditions) &nbsp;Agreed Terms & Conditions</label>
                            @Html.ValidationMessageFor(m => m.acceptedTermsAndConditions, null, new { @class = "validlablel", @style = "margin-left:150px;", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form_table">
                        <div class="form_cell">
                            <input type="submit" class="btn btn-primary" value="Save Details" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.version)
    </div>
}
<script>
    // extend jquery range validator to work for required checkboxes
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }

    $(document).ready(function () {
        $("#acceptedTermsAndConditions").attr('disabled', 'disabled');
        $('#acceptedTermsAndConditions').prop('checked', true);
    });

</script>
