﻿@model Stuck.BasePresentation.Models.AuthoTokenResponse


@{
    ViewBag.Title = "Login In";
}

@using (Html.BeginForm("GetAuthTokenDetails", "Account", FormMethod.Post, new { id = "tokenform" }))
{
    @Html.HiddenFor(m => m.access_token, new { id = "access_token" })
    @Html.HiddenFor(m => m.id_token, new { id = "id_token" })
    @Html.HiddenFor(m => m.expires_in, new { id = "expires_in" })
    @Html.HiddenFor(m => m.token_type, new { id = "token_type" })
}

<div class="container text-center">
    <div class="thankyou_wrap">
        <div class="page_header">
            <h3 class="fusion_title small" style="margin-top:100px;">
                Processing login request please wait ...
            </h3>
        </div>
    </div>
</div>


<script>
    $('#loader').show();
    $(document).ready(function () {
        // debugger;
        //alert(window.location);
        var url = window.location.hash.substr(1);
        //alert(url);
        var parameters = url.split('&');
        var access_token = parameters[0].split('=')[1];
        var id_token = parameters[1].split('=')[1];
        var expires_in = parameters[2].split('=')[1];
        var token_type = parameters[3].split('=')[1];
        $("#access_token").val(access_token);
        $("#id_token").val(id_token);
        $("#expires_in").val(expires_in);
        $("#token_type").val(token_type);
        $("#tokenform").submit();
        //$('#loader').hide();
    });
</script>
