﻿@model Stuck.BasePresentation.Models.LoginModel


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="row form-group">
        <label style="margin-top:10px;">Username</label>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user"></span></span>
            @Html.TextBoxFor(m => m.Username, new { name = "txtusername", style = "height:35px", id = "txtusername", tabindex = "1", @class = "form-control", placeholder = "Username", maxlength = "30" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "vaidationclass" })
        </div>
    </div>
    <div class="row form-group">
        <label style="margin-top:10px;">Password</label>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-lock"></span></span>
            @Html.PasswordFor(m => m.Password, new { name = "txtpassword", id = "txtpassword", style = "height:35px", tabindex = "2", @class = "form-control", placeholder = "Password", maxlength = "30" })
        </div>
        <div class="">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "vaidationclass" })
        </div>
    </div>


    <div class="form-group">
        <input type="checkbox" tabindex="3" class="" name="remember" id="remember" style="margin-left:-15px">
        <label for="remember"> Remember Me</label>
    </div>

    <div class="row form-group">
        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-login" style="width:160px;height:45px;" value="Register Now">
        @Html.ActionLink("Cancel", "LandingScreen", "Landing", null, new { @class = "form-control btn btn-login", style = "width:160px;height:45px;", tabindex = "5" })
    </div>

    <div class="row form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="javascript:void('')" tabindex="5" class="forgot-password">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
}
