﻿@model Stuck.BasePresentation.Models.RegisterModel

<form id="register-form" action="/Account/Register" method="post" role="form">
    <div class="row">
        <div>
            <a href="#"><img height="100px" width="100px" src="~/images/facebook-icon.png" style="margin-left:20px;" /></a>
            <a href="#">
                <img height="70px" width="70px" src="~/images/google.png" />
            </a>
            <a href="#">
                <img height="70px" width="70px" style="margin-left:10px" src="~/images/twitter-icon-9.png" />
            </a>
        </div>
        <div class="text-center" style="font-size: 20px;margin-left: -80px;color: gray;margin-top: 10px;">
            or
        </div>
    </div>
    <div class="row form-group">
        <label style="margin-top:10px;">Username</label>
        <div class="input-group">
            <span class="input-group-addon transparent"><span class="glyphicon glyphicon-user"></span></span>
            @Html.TextBoxFor(m => m.Username, new { name = "txtusername", id = "txtusername", style = "height:35px", tabindex = "1", @class = "form-control", placeholder = "Username", maxlength = "30" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "vaidationclass" })
        </div>
    </div>
    <div class="row form-group">
        <label style="margin-top:10px;">Password</label>
        <div class="input-group">
            <span class="input-group-addon transparent" style="height:35px;"><span class="glyphicon glyphicon-lock"></span></span>
            @Html.PasswordFor(m => m.Password, new { name = "txtpassword", id = "txtpassword", style = "height:35px", tabindex = "2", @class = "form-control", placeholder = "Password", maxlength = "30" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "vaidationclass" })
        </div>
    </div>
    <div class="row form-group">
        <label style="margin-top:10px;">Confirm Password</label>
        <div class="input-group">
            <span class="input-group-addon transparent" style="height:35px;"><span class="glyphicon glyphicon-lock"></span></span>
            @Html.PasswordFor(m => m.ConfirmPasswrod, new { name = "txtconfimpassword", id = "txtconfimpassword", style = "height:35px", tabindex = "2", @class = "form-control", placeholder = "Confirm Password", maxlength = "30" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.ConfirmPasswrod, "", new { @class = "vaidationclass" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" name="register-submit" id="register-submit" tabindex="4" style="width:160px;height:45px;margin-left:-15px" class="form-control btn btn-register" value="Register Now">
        @Html.ActionLink("Cancel", "LandingScreen", "Landing", null, new { @class = "form-control btn btn-register", style = "width:160px;height:45px;" })
    </div>
</form>
