﻿@model Stuck.BasePresentation.Models.RegisterNotificationsModel

@{
    ViewBag.Title = "Confirm Booking";
}

@{
    var pricetext = "only";
}

@using (Html.BeginForm("Register", "Notifications", FormMethod.Post, new { id = "formConfirmJob" }))
{
    <div class="container">
        <div class="page_wrapper">
            <div class="page_header">
                <h3 class="fusion_title">Confirm Job</h3>
                <div class="section_header">
                    <h6 class="fusion_subtitle">Please accept the Stuck <a target="_blank" href="/Landing/Legal">Terms & Conditions</a> before confirming the job.</h6>
                </div>
            </div>
            <div class="table_div">
                <div class="table_div_cell half left_section no_border_mobile">
                    <div class="page_sections">
                        <h4 class="fusion_subheader">Service Details</h4>
                        <div class="left_aligned_form view_form">
                            <div class="form_table">
                                <label class="form_cell">Description</label>
                                @Html.Label(Model.Service.serviceDescription, new { @class = "form_cell value_field" })
                            </div>

                            @if (Model.Service.isFixedCost)
                            {
                                <div class="form_table">
                                    <label class="form_cell">Service Fees</label>
                                    <label class="form_cell value_field">$ @Model.Service.fixedPricingDetails.indicativeCost @pricetext</label>
                                </div>
                            }
                            else
                            {
                                <div class="form_table">
                                    <label class="form_cell">Service Fee</label>
                                    <label class="form_cell value_field">$ @Model.Service.variablePricingDetails.basePrice @pricetext</label>
                                </div>
                            }
                            <div class="form_table">
                                <label class="form_cell">Start Location</label>
                                @if (Session["bookingAddress"] != null && !string.IsNullOrEmpty(Session["bookingAddress"].ToString()))
                                {
                                    <label class="form_cell value_field">@Session["bookingAddress"].ToString()</label>
                                }
                            </div>
                            @if (Session["destinationAddress"] != null && !string.IsNullOrEmpty(Session["destinationAddress"].ToString()))
                            {
                                <div class="form_table">
                                    <label class="form_cell">End Location</label>
                                    <label class="form_cell value_field">@Session["destinationAddress"].ToString()</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="page_sections">
                        <h4 class="fusion_subheader">Vehicle Details</h4>
                        @if (Model.JobDetails.vehicle == null)
                        {
                            <h6>You have not provided vehicle details for current job please provide vehicle details from Vehicle Details Tab.</h6>
                        }
                        else
                        {
                            <div class="left_aligned_form view_form">
                                <div class="form_table">
                                    <label class="form_cell">Rego</label>
                                    @Html.Label(Model.JobDetails.vehicle.registration, new { @class = "form_cell value_field" })
                                </div>
                                <div class="form_table">
                                    <label class="form_cell">Year</label>
                                    @Html.Label(Model.JobDetails.vehicle.year.ToString(), new { @class = "form_cell value_field" })
                                </div>
                                <div class="form_table">
                                    <label class="form_cell">Make</label>
                                    @Html.Label(Model.JobDetails.vehicle.make, new { @class = "form_cell value_field" })
                                </div>
                                <div class="form_table">
                                    <label class="form_cell">Model</label>
                                    @Html.Label(Model.JobDetails.vehicle.model, new { @class = "form_cell value_field" })
                                </div>
                                <div class="form_table">
                                    <label class="form_cell">Fuel Type</label>
                                    @Html.Label(Model.JobDetails.vehicle.fuelType, new { @class = "form_cell value_field" })
                                </div>

                            </div>
                        }
                    </div>
                </div>
                <div class="table_div_cell half">
                    <div class="page_sections">
                        <h4 class="fusion_subheader">Contact Details</h4>
                        @if (Model.UserProfile == null)
                        {
                            <h6>You have not provided all mandatory (contact name, email, phone)contact details, please add / update details from Payment Details Tab.</h6>
                        }
                        else
                        {
                            <div class="left_aligned_form view_form">
                                <div class="form_table">
                                    <label class="form_cell">Contact Name</label>
                                    @if (!string.IsNullOrEmpty(Model.UserProfile.name))
                                    {
                                        @Html.Label(Model.UserProfile.name, new { @class = "form_cell value_field" })
                                    }
                                </div>
                                <div class="form_table">
                                    <label class="form_cell">Contact Email</label>
                                    @if (!string.IsNullOrEmpty(Model.UserProfile.emailAddress))
                                    {
                                        <label class="form_cell value_field">@Model.UserProfile.emailAddress</label>
                                    }
                                </div>
                                <div class="form_table">
                                    <label class="form_cell">Contact Phone #</label>
                                    @if (!string.IsNullOrEmpty(Model.UserProfile.phoneNumber))
                                    {
                                        @Html.Label(Model.UserProfile.phoneNumber, new { @class = "form_cell value_field" })
                                    }
                                </div>
                            </div>

                            if (string.IsNullOrEmpty(Model.UserProfile.name) || string.IsNullOrEmpty(Model.UserProfile.name) || string.IsNullOrEmpty(Model.UserProfile.name))
                            {
                                TempData["continueConfirmJob"] = true;
                                <h6 style="color:red">You have not provided all mandatory (contact name, email, phone) contact details, please add / update details from Customer Details.</h6>
                                @Html.ActionLink("Update Contact Details Now", "CustomerProfile", "Account", null, new { @class = "btn btn-primary pull-right" })
                                <br />
                            }
                        }
                    </div>
                    <div class="page_sections">
                        <h4 class="fusion_subheader">Payment Details</h4>
                        @if (Model.JobDetails.payment == null)
                        {
                            TempData["continueConfirmJob"] = true;
                            <h6>You have not provided Payment details, please add payment details from Payment Details Tab.</h6>
                            @Html.ActionLink("Update Payment Details Now", "Index", "Payment", null, new { @class = "btn btn-primary pull-right" })
                            <br />
                        }
                        else
                        {
                            <div class="left_aligned_form view_form">
                                <div class="form_table">
                                    <label class="form_cell">Payment Description</label>
                                    @Html.Label(Model.JobDetails.payment.paymentDescription, new { @class = "form_cell value_field" })
                                </div>
                                <div class="form_table">
                                    <label class="form_cell">Payment Method</label>
                                    @Html.Label(Model.JobDetails.payment.paymentMethod, new { @class = "form_cell value_field" })
                                </div>
                            </div>
                        }
                    </div>
                    <div class="page_sections">
                        <h4 class="fusion_subheader">Terms And Conditions</h4>
                        <div class="line_height">
                            <label>@Html.CheckBoxFor(m => m.acceptedTermsAndConditions) &nbsp;I agree to the Stuck <a target="_blank" href="/Landing/Legal"><b>Terms and Conditions</b></a></label>
                            @Html.ValidationMessageFor(m => m.acceptedTermsAndConditions, null, new { @class = "validlablel", @style = "margin-left:25px;" })
                        </div>
                    </div>
                    <div class="button_wrap center_wrap">
                        <input type="button" id="btnConfirmJob" value="CONFIRM JOB" class="btn btn-primary pull-right" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal User Profile -->
    <div class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Complete User Profile</h4>
                </div>
                <div class="modal-body" id="userProfileModalContent">
                    To continue you need to provide all contact details ( contact name, contact email, contact phone ).<br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Payment Details</h4>
                </div>
                <div class="modal-body" id="userProfileModalContent">
                    To continue you need to provide payment details.<br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmJobModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Job</h4>
                </div>
                <div class="modal-body" id="userProfileModalContent">
                    By clicking Confirm Job you accept our <a target="_blank" href="/Landing/Legal">Terms and Conditions</a>.
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnConfirmSubmit" class="btn btn-default" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
}

<script>

    // extend jquery range validator to work for required checkboxes
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }

    $(document).ready(function ()
    {
        $('#btnConfirmJob').click(function (e)
        {
            var model = @Html.Raw(Json.Encode(Model));
            if (model.UserProfile.name == null || model.UserProfile.name == undefined || model.UserProfile.phoneNumber == null || model.UserProfile.phoneNumber == undefined
            || model.UserProfile.emailAddress == null || model.UserProfile.emailAddress == undefined)
            {
                $('#userProfileModal').modal('show');
                return;
            }

            if (model.JobDetails.payment == null)
            {
                $('#paymentModal').modal('show');
                return;
            }

            if($('#acceptedTermsAndConditions').is(":checked"))
            {
                $('#loader').show();
            }

            $('#formConfirmJob').submit();
        })

        $('#btnConfirmSubmit').click(function (e) {
            $('#formConfirmJob').submit();
        })
    });
</script>