﻿@{
    ViewBag.Title = "Thank You";
}

<script src="~/Scripts/custom.clientcalls.stuck.js"></script>

<div class="container text-center">
    <div class="thankyou_wrap">
        <div class="text-center thankyou"><img src="~/images/thankyou.gif" /></div>
        <div class="page_header">
            <h3 class="fusion_title small">
                Thank you for your job request. To track your Job progress please download the Stuck App and login.
            </h3>
            @*<h5 class="fusion_title small smaller">
                To Track Your Job Progress Please Download the Stuck App.
            </h5>*@
            <div class="badge_icons">
                <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                    <img class="download_badges" src="~/images/App-Store.png" />
                </a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                    <img class="download_badges" src="~/images/google-play-badge.png" />
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        /// $("#notificationsBody").prepend("<div style='background:gray;margin:5px;padding:1px;'><div style='color:white;margin:10px;'>Your job has beeen created.</div></div>");
    });
</script>