﻿@model  Stuck.BasePresentation.APIModels.VechileResponseModel


@{
    ViewBag.Title = "Vehicle Details";
}

@using (Html.BeginForm("VechileDetails", "Vehcile", FormMethod.Post,new { @id = "VehcileDetailsForm" }))
{
    <div class="container">
        <div class="page_wrapper">
            <div class="page_header">
                <h3 class="fusion_title">Vehicle Details</h3>
            </div>
            <div class="table_div">
                <div class="table_div_cell half left_section">
                    <div class="page_sections">
                        <div class="section_header">
                            <h6 class="fusion_subtitle">Please enter your rego details and state to get your vehicle details.</h6>
                        </div>
                        <div class="">
                            <div class="form_table">
                                <label class="form_cell">Rego</label>
                                @Html.TextBox("txtlicensePlate", "", new { @class = "form_cell form-control", maxlength = "12" })
                            </div>
                            <div class="form_table">
                                <label class="form_cell">State</label>
                                @*@Html.TextBox("txtlicenseState", "", new { @class = "form_cell form-control", maxlength = "12" })*@
                                @Html.DropDownList("txtlicenseState", new SelectList(Model.States, "Code", "State1"), new { @id = "txtlicenseState", @class = "form_cell form-control" })
                            </div>
                            <div class="form_table">
                                <label class="form_cell"></label>
                                <div class="form_cell">
                                    <input type="button" id="searchbutton" value="SEARCH" class="btn btn-primary" />
                                    <input type="button" id="resetbutton" value="RESET" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table_div_cell half">
                    <div class="page_sections">
                        <div class="section_header">
                            <h6 class="fusion_subtitle">If you have not provided vehicle details earlier, you need to provide these now for continuing the stuck services.</h6>
                        </div>
                        <div>
                            <div class="form_table">
                                <label class="form_cell">Rego</label>
                                <div class="form_cell text_box">
                                    @Html.TextBoxFor(m => m.vehicle.registration, new { id = "txtregistration", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.vehicle.registration, null, new { @class = "validlablel" })
                                </div>
                            </div>
                            <div class="form_table">
                                <label class="form_cell">Year</label>
                                <div class="form_cell text_box">
                                    @Html.TextBoxFor(m => m.vehicle.year, new { id = "txtyear", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.vehicle.year, null, new { @class = "validlablel" })
                                </div>
                            </div>
                            <div class="form_table">
                                <label class="form_cell">Make</label>
                                <div class="form_cell text_box">
                                    @Html.TextBoxFor(m => m.vehicle.make, new { id = "txtmake", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.vehicle.make, null, new { @class = "validlablel" })
                                </div>
                            </div>
                            <div class="form_table">
                                <label class="form_cell">Model</label>
                                <div class="form_cell text_box">
                                    @Html.TextBoxFor(m => m.vehicle.model, new { id = "txtmodel", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.vehicle.model, null, new { @class = "validlablel" })
                                </div>
                            </div>
                            <div class="form_table">
                                <label class="form_cell">Fuel Type</label>
                                <div class="form_cell text_box">
                                    @*@Html.TextBoxFor(m => m.vehicle.fuelType, new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.vehicle.fuelType, new List<SelectListItem>
                                                                                                                     {
                                                                                                                        new SelectListItem{ Text="--Select--", Value = "" },
                                                                                                                        new SelectListItem{ Text="Petrol", Value = "Petrol" },
                                                                                                                        new SelectListItem{ Text="Diesel", Value = "Diesel" },
                                                                                                                        new SelectListItem{ Text="Gas", Value = "Gas" }
                                                                                                                     }, new { @class = "form-control", id = "ddlfuelType" })
                                    @Html.ValidationMessageFor(m => m.vehicle.fuelType, null, new { @class = "validlablel" })
                                </div>
                            </div>
                            <div class="form_table">
                                <label class="form_cell"></label>
                                <div class="form_cell">
                                    <input type="submit" value="Update Vehicle Details" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.jobVersion)
            @Html.HiddenFor(m => m.jobId)
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="RegoSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rego Details</h4>
                </div>
                <div class="modal-body" id="RegoSearchModalContent">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RegoSearchValidationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rego Details</h4>
                </div>
                <div class="modal-body" id="RegoSearchModalContent">
                    Please provide Rego Details and State for search.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}
<script>
    $('#loader').show();
    $(document).ready(function () {
        $("#resetbutton").click(function (event) {
            ClearRegoSearch();
        });
        $('#loader').hide();

        $("#txtlicensePlate").keypress(function (e) {
            this.value = this.value.replace(/\s/g, '');
        })

        $('#VehcileDetailsForm').on('submit', function (e) {
            if ($("#VehcileDetailsForm").valid()) {
                $('#loader').show();
            }
        });

        $("#searchbutton").click(function (event) {
            if ($("#txtlicensePlate").val() == "" || $("#txtlicenseState").val() == "")
            {
                $('#RegoSearchValidationModal').modal('show');
                return;
            }

            $('#loader').show();
            $.ajax({
                type: "GET",
                url: "/Vehcile/SearchVechileDetails",
                cache: false,
                // content-type : "application/json",
                data: { Rego: $("#txtlicensePlate").val(), State: $("#txtlicenseState").val() },
                dataType: 'json',
                success: function (result) {
                    $('#loader').hide();
                    if (result != null && result != undefined && result != '') {
                        // $("#RegoSearchModalContent").html("Rego details found and applied to vechile form you can continue with update vechile details...");
                        // $('#RegoSearchModal').modal('show');
                        $("#txtmake").val(result.make);
                        $("#txtmodel").val(result.model);
                        $("#txtyear").val(result.year);
                        $("#ddlfuelType").val(result.fuelType);
                        $("#txtregistration").val($("#txtlicensePlate").val());
                        ClearRegoSearch();
                    }
                    else {
                        ClearRegoSearch();
                        ClearVechileDetails();
                        $("#RegoSearchModalContent").html("Car not found. Please enter vehicle details manually.");
                        $('#RegoSearchModal').modal('show');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });

        });
    });

    function ClearRegoSearch() {
        $("#txtlicensePlate").val('');
        $("#txtlicenseState").val('NSW');
    }

    function ClearVechileDetails() {
        $("#txtmake").val('');
        $("#txtmodel").val('');
        $("#txtyear").val('');
        $("#ddlfuelType").val('');
        $("#txtregistration").val('');
    }
</script>
