﻿
@{
    ViewBag.Title = "Payment Details";
}

<div class="wrapper">
    <div class="checkout container">
        <br />
        <header>
            <p>
                Enter payment details ( payment will charged after the job is completed ).
            </p>
        </header>
        <br />
        <form id="payment-form" method="post" action="/Payment/Create">
            <section>
                @*<label for="amount">
                    <span class="input-label">Amount</span>
                    <div class="input-wrapper amount-wrapper">
                        <input id="amount" name="amount" class="form-control" type="tel" min="1" placeholder="Amount" value="10">
                    </div>
                </label>*@
                <br />
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>

            <input id="nonce" name="payment_method_nonce" type="hidden" />
            <button class="btn btn-primary" type="submit"><span>Pay Now !</span></button>
        </form>
    </div>
</div>
<script src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>
<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {
            flow: 'vault'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
        });

    $('#payment-form').on('submit', function (e) {
        $('#loader').show();
    });

</script>