﻿
@{
    ViewBag.Title = "Payment Status";
}

<div class="container text-center">
    <div class="response container">
        <div class="content">
            <br /><br />
            <div class="icon" style="margin-top:50px;">
                <img src="~/images/thankyou.gif" alt="">
            </div>
            <h1>@TempData["header"].ToString()</h1>
            <section>
                <p>@TempData["message"].ToString()</p>
            </section>
            <section>
                <a class="btn btn-primary" href="/Notifications/Register">
                    <span>Continue Booking ...</span>
                </a>
            </section>
        </div>
    </div>
</div>
