﻿@{
    ViewBag.Title = "Battery Problems?";
}


<div class="container text-center">
    <div class="service_landing_wrap">
        <div class="service_landing_img">
            <img src="~/images/Battery_black.png" />
        </div>
        <div class="service_landing_title service_content">
            <h1>Order a car battery jump start now</h1>
            <p>Battery problems? No worries. From as little at $79, we’ll send out a local technician to test your battery and if it can hold a charge they’ll give you a jump start. If they’re carrying a battery for your vehicle type, they can also sell and install it for you.</p>
            <p>Don’t worry, any extra costs or items will be discussed with you and agreed upon before the technician goes ahead. If you don’t think you can be jump started, select a <a href="/Landing/Tow">tow option</a> instead.</p>
        </div>
        <div class="service_landing_subtitle service_content">
            <h2>To order a jump start:</h2>
            <p><a href="/">Download the Stuck App</a>, set your location and vehicle details and request help.</p>
        </div>
        <div class="badge_icons">
            <a href="/Landing/Location">
                <img class="download_badges" src="~/images/Booknow.png" />
            </a>
            <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                <img class="download_badges" src="~/images/App-Store.png" />
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                <img class="download_badges" src="~/images/google-play-badge.png" />
            </a>
        </div>
        <p>* prices for regional and after-hours jobs may vary – please check in-app</p>
    </div>
</div>
