﻿
@{
    ViewBag.Title = "Cookies";
}

<div class="container ckiestxt">
    <h1>Stuck Cookie Statement</h1>
    <p>Effective Date: October 25th 2016</p>
    <p>We and our affiliates, third parties, and other partners use cookies and other identification technologies on our websites, mobile applications, electronic communications, advertisements, and other online services (collectively, the &#8220;Services&#8221;) for a number of purposes, including: authenticating users, remembering user preferences and settings, determining the popularity of content, delivering and measuring the effectiveness of advertising campaigns, analysing site traffic and trends, and generally understanding the online behaviors and interests of people who interact with our Services. You can read more here about the types of cookies we use, why we use them, and how you can exercise your choices below.</p>
    <p><strong>Cookies Overview</strong></p>
    <p>Cookies are small text files that are stored on your browser or device by websites, apps, online media, and advertisements. There are different types of cookies. Cookies served by the entity that operates the domain you are visiting are called “first party cookies.” So cookies served by Stuck while you are on <a href="http://www.Stuck.com.au">www. Stuck.com.au</a> are first party cookies. Cookies served by companies that are not operating the domain you’re visiting are called “third party cookies.” So, we may allow Google to set a cookie on your browser while you visit <a href="http://www.stuck.com.au">www. Stuck.com.au</a> , and that would be a third party cookie. Cookies may also endure for different periods of time. “Session Cookies” only last only as long as your browser is open. These are deleted automatically once you close your browser. Other cookies are “persistent cookies” meaning that they survive after your browser is closed. For example, they may recognise your device when you re-open your browser and browse the internet again.</p>
    <p><strong>Other Identification Technologies</strong></p>
    <p>We call this a Cookie Statement, but the statement addresses cookies and other identification technologies we may use or permit on our Services. “Pixel tags” (also called beacons or pixels) are small blocks of code installed on (or called by) a webpage, app, or advertisement which can retrieve certain information about your device and browser, including for example: device type, operating system, browser type and version, website visited, time of visit, referring website, IP address, and other similar information, including the small text file (the cookie) that uniquely identifies the device. Pixels provide the means by which third parties can set and read browser cookies from a domain that they do not themselves operate and collect information about visitors to that domain, typically with the permission of the domain owner. “Local storage” refers generally to other places on a browser or device where information can be stored by websites, ads, or third parties (such as HTML5 local storage and browser cache). “Software Development Kits” (also called SDKs) function like pixels and cookies, but operate in the mobile app context where pixels and cookies cannot always function. The primary app developer can install pieces of code (the SDK) from partners in the app, and thereby allow the partner to collect certain information about user interaction with the app and information about the user device and network information.</p>
    <p><strong>Your Choices</strong></p>
    <p>You have the right to choose whether or not to accept cookies. However, they are an important part of how our Services work, so you should be aware that if you choose to refuse or remove cookies, this could affect the availability and functionality of the Services.</p>
    <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. To do so, please follow the instructions provided by your browser which are usually located within the &#8220;Help&#8221; or “Preferences” menu. Some third parties also provide the ability to refuse their cookies directly by clicking on an opt-out link, and we have indicated where this is possible in the table above.</p>
    <p>Removing or rejecting browser cookies does not necessarily affect third-party flash cookies which may be used by us or our partners in connection with our Services. To delete or disable flash cookies please visit <a href="http://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html">this site</a> for more information. For further information about cookies, including how to see what cookies have been set on your device and how to manage and delete them, you can visit <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org</a> and<a href="http://www.youronlinechoices.com.au">www.youronlinechoices.com.au</a>.</p>
    <p><strong>Types and Purposes of Cookies</strong></p>
    <p>The following table sets out the different categories of cookies that our Services use and why we use them. The lists of third party cookie providers are intended merely as illustrative not comprehensive.</p>
    <table>
        <thead>
            <tr>
                <td><strong>Type of Cookie</strong></td>
                <td><strong>Purpose</strong></td>
                <td><strong>Who Serves (for example)</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Authentication Cookies</strong></td>
                <td>These cookies (including local storage and similar technologies) tell us when you’re logged in, so we can show you the appropriate experience and features such as your account information, trip history, and to edit your account settings.</td>
                <td>·         Stuck</td>
            </tr>
            <tr>
                <td><strong>Security and site integrity cookies</strong></td>
                <td>We use these cookies to support or enable security features to help keep Stuck safe and secure. For example, they enable us to remember when you are logged into a secure area of the Services and help protect your account from being accessed by anyone other than you.</td>
                <td>·         Stuck</td>
            </tr>
            <tr>
                <td><strong>Localisation</strong></td>
                <td>These help Stuck provide a localised experience. For example, we may store information in a cookie that is placed on your browser or device so you will see the site in your preferred language.</td>
                <td>·         Stuck</td>
            </tr>
            <tr>
                <td><strong>Site features and Services</strong></td>
                <td>These provide functionality that help us deliver products and Services. For example, cookies help you log in by pre-filling fields. We may also use cookies and similar technologies to help us provide you and others with social plugins and other customised content and experiences, such as making suggestions to you and others.</td>
                <td>
                    ·         Stuck</p>
                    <p>·         Facebook</p>
                    <p>·         Twitter</p>
                    <p>·         Google
                </td>
            </tr>
            <tr>
                <td><strong>Analytics and research</strong></td>
                <td>These are used to understand, improve, and research products and Services, including when you access the Stuck website and related websites and apps from a computer or mobile device. For example, we may use cookies to understand how you are using site features, and segmenting audiences for feature testing. We and our partners may use these technologies and the information we receive to improve and understand how you use websites, apps, products, services and ads.</td>
                <td>·         Stuck</td>
            </tr>
            <tr>
                <td><strong>Advertising</strong></td>
                <td>Things like cookies and pixels are used to deliver relevant ads, track ad campaign performance and efficiency. For example, we and our ad partners may rely on information gleaned through these cookies to serve you ads that may be interesting to you on other websites. Similarly, our partners may use a cookie, attribution service or another similar technology to determine whether we’ve served an ad and how it performed or provide us with information about how you interact with them. For more information about interest-based ads, or to opt out of having your web-browsing information used for behavioral advertising purposes, please visit  <a href="http://youronlinechoices.com.au/">http://youronlinechoices.com.au/</a></td>
                <td>·         Stuck</td>
            </tr>
        </tbody>
    </table>
    <p>Contact us</p>
    <p>If you have any questions about our use of cookies, please contact us at: <a href="mailto:hello@stuck.com.au">hello@stuck.com.au</a><u>.au</u></p>
</div>
