﻿@{
    ViewBag.Title = "Empty Fuel?";
}


<div class="container text-center">
    <div class="service_landing_wrap">
        <div class="service_landing_img">
            <img src="~/images/Fuel_black.png" />
        </div>
        <div class="service_landing_title service_content">
            <h1>Get empty fuel tank assistance now</h1>
            <p>If you’ve run out of fuel, we’ll bring you $10.00 worth of either petrol or diesel. Please note if you run on LPG or electric, you’ll need to <a href="/Landing/Tow">order a tow</a> instead.</p>
        </div>
        <div class="service_landing_subtitle service_content">
            <h2>To order a fuel delivery:</h2>
            <p><a href="/">Download the Stuck App</a>, set your location and vehicle details and request help.</p>
        </div>
        <div class="badge_icons">
            <a href="/Landing/Location">
                <img class="download_badges" src="~/images/Booknow.png" />
            </a>
            <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                <img class="download_badges" src="~/images/App-Store.png" />
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                <img class="download_badges" src="~/images/google-play-badge.png" />
            </a>
        </div>
        <p>* prices for regional and after-hours jobs may vary – please check in-app</p>
    </div>
</div>