﻿
@{
    ViewBag.Title = "Stuck FAQ - Frequently Asked Questions About Roadside Assistance";
}

<div class="sections faqs">
    <div class="intrim_banner with_image">
        <div class="container">
            <h2 class="intrim_banner_text">Frequently Asked Questions</h2>
            <p class="intrim_banner_text">Everything you need to know about Stuck</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="stuck_accordion">
        <div class="accordion_item">
            <a class="active" href="javascript:;"><span>?</span> STUCK OVERVIEW </a>
            <div class="stuck_content" style="display:block;">
                <div>
                    <h3>What is roadside assistance?</h3>
                    <p>When you’re stuck on the side of the road with a flat battery, flat or punctured tyres, empty fuel tank, locked in keys, or you need a tow, Stuck will send expert automotive help to you – known as roadside assistance.</p>
                </div>
                <div>
                    <h3>How does Stuck work?</h3>
                    <p>Stuck is a technology service which allows stranded motorists to use a smartphone app to request roadside assistance at their location. The request is sent to the nearest available local Stuck expert, who after accepting the request will drive to the location and provide help and get you safely on your way.</p>
                </div>
                <div>
                    <h3>How is Stuck different from traditional roadside assistance clubs?</h3>
                    <p>As a free app, Stuck does not charge motorists annual membership fees. You only pay when you need roadside assistance – not when you don’t. Because we don’t employ full-time roadside assistance mechanics to wait for help requests, Stuck is able to operate at a much lower cost than regular roadside assistance clubs, and we pass those savings on to you.</p>
                </div>
                <div>
                    <h3>Are Stuck experts always available?</h3>
                    <p>Our network of Stuck Experts is constantly growing and expanding both in terms of the number or Experts available and the geography they cover. As we have recently launched, we may not have an expert close enough to you at the exact time of day you require them. If this is the case we will let you know. You can always use Stuck to get a tow truck to assist you 24 x 7.</p>
                </div>
                <div>
                    <h3>Does Stuck charge a membership fee?</h3>
                    <p>No! Stuck is a free app. You only pay when you request roadside assistance. You only pay after we have completed the job you request and authorise. Payment will always be via the method you choose – either credit card or Paypal.</p>
                </div>
            </div>
        </div>
        <div class="accordion_item">
            <a class="" href="javascript:;"><span>?</span> REQUESTING HELP</a>
            <div class="stuck_content">
                <div>
                    <h3>What services does Stuck provide?</h3>
                    <p>Stuck experts are available to help with flat tyres, flat batteries, jump starts, empty fuel tanks, lock in keys, towing and mechanical issues.</p>
                </div>
                <div>
                    <h3>My car won’t start – but I’m not sure what’s wrong</h3>
                    <p>If you turn the key and the engine turns over but doesn’t fire into action, we suggest you request a mechanic to check it out. If you turn the key and it just clicks, or turns over a few times, it is probably the battery so you can select that. Don’t worry if your selection is wrong, you only pay one service fee.</p>
                </div>
                <div>
                    <h3>Why should I trust an App? Can I call someone?</h3>
                    <p>The Stuck App is just the efficient process by which you can get a local, qualified and insured Expert matched to your needs. Once we make that match, you will have the ability to call the Expert whilst they are on their way to you. You can discuss the problem and have them fully across your situation before they even arrive. You will see a photo of who is coming, what they are driving and where they are on a map. We will even provide an ETA which is updated as they move.</p>
                </div>
                <div>
                    <h3>How long will help take to arrive?</h3>
                    <p>This will depend on where you are and how close the Expert matched to your specific need is. We are constantly expanding our network of experts and so our time to arrive is constantly reducing. You will see how far away the expert is and their estimated time till arrival. This is updated every 30 seconds so you are left in no doubt about how far away they are. As we aim to match local experts with motorists in needs, our goal is to have their time to arrive a short as possible. As a guide, it generally will take between 10 mins and 30 mins for the Expert to reach you, but you will see an exact estimate for your job when you request assistance.</p>
                </div>
                <div>
                    <h3>Who will come to help?</h3>
                    <p>We will send you a qualified, insured expert who is as close to you as possible. You will see the organisation they work for together with their photo and details of the vehicle they will be using.</p>
                </div>
                <div>
                    <h3>How do I know the expert coming to help is reliable and safe?</h3>
                    <p>Every Stuck expert has gone through a process whereby we we ensure that they are qualified and insured. Furthermore, we require all Stuck Experts to submit a police clearance certificate when they join Stuck and we ensure that they have a valid driving license. So you know that whoever is coming has the qualifications to assist you and has provided a police check.</p>
                </div>
                <div>
                    <h3>How much will it cost?</h3>
                    <p>Our pricing is clear per job type and is shown to you before you order help. For most of the jobs we offer a fixed price. Jobs like towing have a fixed cost for the call out and the first 10 kms and then you are charged per km thereafter. Again, the costs are clear before you order help. If you need additional items, like a battery, you can discuss this with your Stuck Expert and either accept or decline the offer of any additional items on site – your decision.</p>
                </div>
            </div>
        </div>
        <div class="accordion_item">
            <a class="" href="javascript:;"><span>?</span> SIGNING UP</a>
            <div class="stuck_content">
                <div>
                    <h3>How do I get started?</h3>
                    <p>Really simple – you can download the Stuck App from either the Apple App Store or Google Play Store. Once downloaded you can play with the app, select a service, confirm your location and only sign-up when you actually need service. You can register with your Facebook, Google or Twitter social accounts or via a user name and password. Then you are in!</p>
                </div>
                <div>
                    <h3>What sort of phone do I need?</h3>
                    <p>Stuck works on both Apple and Android devices including phones, tablets and iPads. It supports iPhones 4S and above and Android version 4.1 (Jellybean) and above.</p>
                </div>
                <div>
                    <h3>How do I download the Stuck app?</h3>
                    <p>It’s simple. Just go to the App Store or Google Play and search for Stuck- Roadside Assistance. The app is free to download. After you have downloaded Stuck open the app and have a play or order a service- it’s simple and easy to use.</p>
                </div>
            </div>
        </div>
        <div class="accordion_item">
            <a class="" href="javascript:;"><span>?</span> MY VEHICLE</a>
            <div class="stuck_content">
                <div>
                    <h3>Why do I need to enter my vehicle details?</h3>
                    <p>With the vehicle details we will be able to match your needs with a Stuck Expert with the skills and equipment required to assist you. We don’t want to send someone with Petrol if you have run out of Diesel, nor someone with a battery for a Commodore if you drive a Camry!</p>
                </div>
                <div>
                    <h3>What if my numberplate isn’t found?</h3>
                    <p>The vast majority of numberplate entries will automatically load your vehicle details, however you can manually enter your vehicle details such as make, model, year, transmission and fuel type if required.</p>
                </div>
            </div>
        </div>
        <div class="accordion_item">
            <a class="" href="javascript:;"><span>?</span> PAYMENT</a>
            <div class="stuck_content">
                <div>
                    <h3>What are my payment options?</h3>
                    <p>While requesting roadside assistance, you will be asked for your credit card (Mastercard or Visa) or Paypal details. Payment will be automatically processed once your Stuck expert has completed the job and you are safely on your way.</p>
                </div>
                <div>
                    <h3>Will you send an invoice?</h3>
                    <p>Yes, at the end of your job, we will e-mail a Tax Invoice to the e-mail address on your profile, showing a line-by-line breakdown of the services you have purchased and paid for.</p>
                </div>
                <div>
                    <h3>Can I pay with cash?</h3>
                    <p>No, we currently only accept credit card (Visa and Mastercard) or Paypal. By not carrying cash, Stuck experts can speed up your roadside assistance experience and make sure you get on your way as fast as possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.stuck_accordion > div.accordion_item > a').click(function () {
            if ($(this).hasClass('active')) {
                $(this).siblings().slideUp();
                $(this).removeClass('active');
            } else {
                $(this).siblings().slideDown();
                $(this).addClass('active');
            }            
        });
    });
</script>
