﻿
@{
    ViewBag.Title = "Flat Tyre?";
}

<div class="container text-center">
    <div class="service_landing_wrap">
        <div class="service_landing_img">
            <img src="~/images/Tyre_black.png" />
        </div>
        <div class="service_landing_title service_content">
            <h1>Get flat tyre assistance now</h1>
            <p>If you have a flat tyre, we’ll send you a local tyre expert to come and change it with your spare for just $79. If you have multiple flat tyres or don’t have the proper wheel nut key, you’ll need to select our <a href="/Landing/Tow">tow option</a> instead.</p>
        </div>
        <div class="service_landing_subtitle service_content">
            <h2>To order a flat tyre change:</h2>
            <p><a href="/">Download the Stuck App</a>, set your location and vehicle details and request help.</p>
        </div>
        <div class="badge_icons">
            <a href="/Landing/Location">
                <img class="download_badges" src="~/images/Booknow.png" />
            </a>
            <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                <img class="download_badges" src="~/images/App-Store.png" />
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                <img class="download_badges" src="~/images/google-play-badge.png" />
            </a>
        </div>
        <p>* prices for regional and after-hours jobs may vary – please check in-app</p>
    </div>
</div>