﻿@{
    ViewBag.Title = "Home";
}
<div class="body-content homepage clearfix">
    <div class="sections">
        <div class="home_banner">
            <div class="home_banner_overlay">&nbsp;</div>
            <div class="container">
                <div class="home_banner_wrap">
                    <div class="home_banner_cell home_head">
                        <h1 class="home_head_text">Stuck? Get help fast.</h1>
                        <h4 class="home_head_subtext">Fast, reliable and affordable roadside assistance from approved local experts when your car is stuck.</h4>
                        <div class="badge_icons">
                            <a href="/Landing/Location">
                                <img class="download_badges" src="~/images/Booknow.png" style="width:270px;" />
                            </a>
                        </div>
                        <div class="badge_icons">
                            <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                                <img class="download_badges" src="~/images/App-Store.png" style="width:128px;"/>
                            </a>
                            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                                <img class="download_badges" src="~/images/google-play-badge.png" style="width:128px;"/>
                            </a>
                        </div>
                    </div>
                    <div class="home_banner_cell stuck_mobile_wrap">
                        <img src="~/images/iphone4.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sections">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="perks">Free Download</div>
                </div>
                <div class="col-sm-4">
                    <div class="perks member">No membership costs</div>
                </div>
                <div class="col-sm-4">
                    <div class="perks">Upfront pricing</div>
                </div>
            </div>
            <div class="text-center stuckvideo">
                <iframe width="723" height="395" src="https://www.youtube.com/embed/mN3a5ejApqE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                @*<a href="https://stuck.com.au?wvideo=0xomdr228v">
                        <img class="stuck_video_thumb" src="~/images/stuck_video_thumb.jpg" />
                    </a>*@
            </div>
            <div class="text-center stuck_media_logos">
                <a href="/Landing/Media"><img src="~/images/stuck-media-logos-1.png" /></a>
            </div>
        </div>
    </div>
    <div class="sections">
        <div class="intrim_banner gradient">
            <h2 class="intrim_banner_text">When you’re stuck on the side of the road,<br>we make getting expert help effortless.</h2>
        </div>
    </div>
    <div class="sections">
        <div class="services">
            <div class="container">
                <div class="table_div">
                    <div class="table_div_cell third grayBG">
                        <div class="services_icon services_wrap battery">
                            <a href="/Landing/battery">
                                <div class="services_head">Battery</div>
                                <p>A flat battery – and it worked<br />perfectly yesterday – we know!</p>
                                <p><strong>$79</strong>&nbsp;<small>inc GST</small></p>
                            </a>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="services_icon services_wrap tyre">
                            <a href="/Landing/FlatTyre/">
                                <div class="services_head">Tyres</div>
                                <p>A flat tyre – always when you’re<br>running late, and when you’re<br>dressed to impress</p>
                                <p><strong>$79</strong>&nbsp;<small>inc GST</small></p>
                            </a>
                        </div>
                    </div>
                    <div class="table_div_cell third grayBG">
                        <div class="services_icon services_wrap fuel">
                            <a href="/Landing/EmptyFuel">
                                <div class="services_head">FUEL</div>
                                <p>No&nbsp;fuel – when you meant to fill<br>up yesterday</p>
                                <p><strong>$79</strong>&nbsp;<small>inc GST</small></p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table_div">
                    <div class="table_div_cell third">
                        <div class="services_icon services_wrap lockout">
                            <a href="/Landing/LockedOut">
                                <div class="services_head">LOCKOUT</div>
                                <p>Locked out – and you can see the<br>keys on the passenger seat –<br>aaaggh!</p>
                                <p><strong>$79</strong>&nbsp;<small>inc GST</small></p>
                            </a>
                        </div>
                    </div>
                    <div class="table_div_cell third grayBG">
                        <div class="services_icon services_wrap mechanical">
                            <a href="/Landing/Mechanical">
                                <div class="services_head">MECHANICAL</div>
                                <p>Sometimes it is the mechanical stuff<br>– the alternator, the fuel pump,<br>or…..geez who knows what it is!</p>
                                <p><strong>$79</strong>&nbsp;<small>inc GST</small></p>
                            </a>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="services_icon services_wrap tow">
                            <a href="/Landing/Tow">
                                <div class="services_head">TOW</div>
                                <p>Or you just need a tow to get the<br>stupid car somewhere….<br>…anywhere!</p>
                                <p><strong>$94</strong> <small>inc GST</small> +3.99 per km</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="text-center conditions_apply">
                    <p>* prices for regional and after-hours jobs may vary – please check in-app</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sections">
        <div class="intrim_banner with_image">
            <h2 class="intrim_banner_text">Accredited experts ready to help at the touch of a button</h2>
            <h3 class="intrim_banner_text">If you don’t need help, it costs you nothing. Our only focus is helping you when you’re stuck.</h3>
        </div>
    </div>
    <div class="sections">
        <div class="testimonials">
            <div class="container">
                <h2 class="section_headers">Meet some of our Experts</h2>
                <div class="table_div">
                    <div class="table_div_cell third">
                        <div class="testimonial_wrap gradient">
                            <img src="~/images/brennanstephen-profile-pic-350w-200x200.jpg" />
                            <div class="testimonial_text">
                                <p>“I enjoy helping people out and getting them back on the road with Stuck. Motorists feel safe with the knowledge that someone is on the way to their rescue.”</p>
                                <span>Steve - Auto Edge Midvale</span>
                            </div>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="testimonial_wrap gradient">
                            <img src="~/images/Justin-Van-Camp-Service-supplier-200x200.jpg" />
                            <div class="testimonial_text">
                                <p>“Stuck is great for generating new business by helping those who have broken down in you local area and offering our services to help”</p>
                                <span>Justin - Bridgestone Vic Park</span>
                            </div>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="testimonial_wrap gradient">
                            <img src="~/images/rob-200x200.jpg" />
                            <div class="testimonial_text">
                                <p>“My business is new and I use stuck to promote myself to local customers. I enjoy helping people in their time of need. Gives me an opportunity to show my skills in diagnosing and repairing the vehicle. #robsonthejob”</p>
                                <span>Rob – Independent Operator</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sections">
        <div class="customers">
            <div class="container">
                <h2 class="section_headers">What our Customers have to say</h2>
                <div class="table_div">
                    <div class="table_div_cell third">
                        <div class="customers_wrap">
                            <div class="customers_text">
                                <p>“Prompt service, friendly and easy solution to my problem.”</p>
                                <span>
                                    ~ Ingemar
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="customers_wrap">
                            <div class="customers_text">
                                <p>“I had no idea the service existed and was stuck out with my daughter who’s one on a hot day. He was out in 15 minutes and was able to help. Thank you so much!”</p>
                                <span>
                                    ~ Camilla
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="customers_wrap">
                            <div class="customers_text">
                                <p>“Awesome! This app is so easy to use and love the prices!”</p>
                                <span>
                                    ~ Shannon
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                    <img alt="🌟" src="~/images/1f31f.svg">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sections">
        <div class="news">
            <div class="container">
                <h2 class="section_headers">Latest News</h2>
                <div class="table_div">
                    <div class="table_div_cell third">
                        <div class="news_wrap">
                            <a href="/Landing/Latest"><img src="~/images/stuck_latestnews.jpg"></a>
                            <div class="news_text">
                                <h3><a href="/Landing/Latest">We are super excited here at Team Stuck !</a></h3>
                                <p>
                                    We received feedback from some of you that the process of downloading the app (if you didn’t know about us until you consulted Capt Google) and then entering your details before someone is winging their way to get you unStuck is too long
                                    So don’t say we don’t listen!...
                                </p>
                                <a href="/Landing/Latest" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="news_wrap">
                            <a href="/Landing/Latest"><img src="~/images/Wash-me.jpg"></a>
                            <div class="news_text">
                                <h3><a href="/Landing/Latest">Wash Me!</a></h3>
                                <p>Most of us scrub up all right (except for the Tech team at Stuck – no end of polish will sort that scruffy lot out).  You do it for yourself every once in a while so why not your caboose? Giving your car a good washing from top to bottom using a product specifically made...</p>
                                <a href="/Landing/Latest" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="table_div_cell third">
                        <div class="news_wrap">
                            <a href="/Landing/Latest"><img src="~/images/Weather1.jpg"></a>
                            <div class="news_text">
                                <h3><a href="/Landing/Latest">What a Diverse Country We Live in</a></h3>
                                <p>This weekend is the first weekend of Summer.  Perth and Darwin have taken notes and will record temperatures in the mid to high 30’s whilst the recalcitrant East coast is being a Summer sceptic with temperature in the low 20’s and once in thirty-year rainfalls. Still, as a national operator, that just keeps the team...</p>
                                <a href="/Landing/Latest" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                    @*<div class="table_div_cell third">
                        <div class="news_wrap">
                            <a href="/Landing/Latest"><img src="~/images/Spring2.jpg"></a>
                            <div class="news_text">
                                <h3><a href="/Landing/Latest">Spring has Sprung</a></h3>
                                <p>Now that winter is becoming a memory, millions of Australians will take to the roads to enjoy the warmer weather. Stuck reckons that spring is the perfect time of year to make sure your vehicle is ready for the upcoming travel season. Whether you’re driving across the country or driving across town, here are a...</p>
                                <a href="/Landing/Latest" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="sections">
        <div class="container">
            <div class="get_on_board">
                <h2 class="section_headers">Ready to get roadside assistance on-demand?</h2>
                <div class="get_on_board_form">
                    <div class="">
                        <label id="lblValidationResult" style="display:none;color:red;text-align: center;margin-bottom: 10px;">Please provide all valid details</label>
                        <input type="text" placeholder="Name" id="txtName" />
                        <input type="text" placeholder="Email" id="txtEmail" />
                        <input type="text" placeholder="Phone" id="txtPhone" />
                        <button type="submit" class="getonboard btn btn-primary">Get On Board</button>
                    </div>
                </div>
            </div>
            <div style="display:none;" class="get_on_thank_you">
                <div class="wpb_wrapper">
                    <h2>Thank you for jumping on board with Stuck!</h2>
                    <a class="btn btn-primary" href="">Download the Stuck app now</a>
                    <h2>Or check your email for the next step</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    
    $(document).ready(function () {
        $("#lblValidationResult").hide();
        $('.getonboard').click(function () {
            $("#lblValidationResult").hide();
            if (ValidateOnBoard()) {
                $.ajax({
                    type: "GET",
                    data: { Name: $("#txtName").val(), Email: $("#txtEmail").val(), Phone: $("#txtPhone").val() },
                    url: '/Landing/SendEnquiryEmail',
                    contentType: "application/json"
                }).done(function (res) {
                    $('.get_on_board').hide();
                    $('.get_on_thank_you').show();
                });


            }
            else {
                $("#lblValidationResult").show();
            }
        });
    });

    function ValidateOnBoard() {
        isValid = true;

        if ($("#txtName").val() == "" || $("#txtName").val() == undefined) {
            isValid = false;
        }

        if ($("#txtEmail").val() == "" || $("#txtEmail").val() == undefined) {
            isValid = false;
        }

        if ($("#txtEmail").val() != "" || $("#txtEmail").val() != undefined) {
            isValid = isEmail($("#txtEmail").val());
        }


        if ($("#txtPhone").val() == "" || $("#txtPhone").val() == undefined) {
            isValid = false;
        }

        return isValid;
    }

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

</script>
