﻿@model BasePresentation.Models.LandingPageViewModel
@{
    ViewBag.Title = "Roadside Assistance";
}
@{
    string googlemapuri = "https://maps.googleapis.com/maps/api/js?libraries=places&language=en-AU&key=" + Model.GoogleMapKey;
}
<script src="@googlemapuri"></script>
<script src="~/Scripts/custom.maputility.stuck.js"></script>
<script src="~/Scripts/custom.clientcalls.stuck.js"></script>
<div class="srvc">
    <div class="map_wrapper">
        <div id="divMap" class="mainMap"></div>
        <div class="location_wrap">@Html.TextBoxFor(m => m.Address, new { @class = "enter_location source_loc form-control" })</div>
    </div>
    <div class="choose_service">
        <div class="choose_service_title">CHOOSE YOUR SERVICE</div>
        <div class="choose_service_list" id="divStuckServices"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bookingConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Location Required</h4>
                </div>
                <div class="modal-body" id="bookingConfirmationModalContent">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="servicesNotAvailableConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">No Services Available</h4>
                </div>
                <div class="modal-body" id="servicesNotAvailableModalContent">
                    Sorry, Stuck is currently unavailable in this location.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('#loader').show();
      var servicesRestricedAreas = '@Html.Raw(Model.BlockedPostCodes)';
    $(document).ready(function ()
    {
        DrawMap();
        GetPostionByAddress('@Html.Raw(Model.Address)');
        PlugAddressSuggestion();
        $('#loader').hide();

        /// ravi
        $(".srvc").parent().addClass('hgt');
    });

    function ConfirmBookingSubmit(ServiceId)
    {

        if ($("#Address").val() == undefined || $("#Address").val() == "")
        {
            $("#bookingConfirmationModalContent").html('<div class="info"><div class="info_title">Location :</div><div class="info_value">Please enter locaion in location box</div></div>');
            $('#bookingConfirmationModal').modal('show');
        }
        else
        {
            document.location = "/Booking/ShowConfirmBooking?Address=" + $("#Address").val() + "&ServiceId=" + ServiceId;
        }
    };

    function ShowBookingServiceNotAvailableDetails(serviceId, serviceIconUrl) {
        var serviceDescription = "";
        if (serviceId == 'locked-out') {
            serviceDescription = "Locked Out";
        }
        else if (serviceId == 'flat-battery') {
            serviceDescription = "Flat Battery";
        }
        else if (serviceId == "flat-tyre") {
            serviceDescription = "Flat Tyre";
        }
        else if (serviceId == "no-fuel") {
            serviceDescription = "Ran Out of Fuel";
        }
        else if (serviceId = "tow") {
            serviceDescription = "Tow";
        }
        else if (serviceId == "mechanical") {
            serviceDescription = "Mechanical";
        }

        var divstring = "<div class='box-outer after_click'>";
        divstring = divstring + "<div class='box_icon'><img src='" + serviceIconUrl + "' /></div>";
        divstring = divstring + "<div class='box_desc'><div><div class='desc_title'>" + serviceDescription + "</div>Sorry, this service is not currently available in your location.</div></div>";
        divstring = divstring + "</div>";
        $("#divStuckServices").html(divstring);
    }

    function ShowServicesNotAvailable() {
        var divstring = "<div class='box-outer after_click'>";
        //divstring = divstring + "<div class='box_icon'><img src='" + serviceIconUrl + "' /></div>";
        divstring = divstring + "<div class='box_desc' style='color:red;'><div><div class='desc_title'>No Services Available</div>Sorry, Stuck is currently unavailable in this location.</div></div>";
        divstring = divstring + "</div><br/>";
        $("#divStuckServices").html(divstring);

        $("#Address").val('');
        $('#servicesNotAvailableConfirmationModal').modal('show');
    }
</script>