﻿
@{
    ViewBag.Title = "Stuck News, Events, Announcements and Latest Updates";
}

<div class="sections faqs">
    <div class="intrim_banner with_image">
        <div class="container">
            <h2 class="intrim_banner_text">Latest News</h2>
            <p class="intrim_banner_text">News, events, announcements and latest updates from the Stuck team</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="page_wrapper latest_news">
        <div class="news_section stuck_content">
            <div class="news_block">
                @*<div class="new_images"><img class="img-responsive" src="~/images/stuck_latestnews.jpg" /></div>*@
                <h1><a href="">We are super excited here at Team Stuck !</a></h1>
                <p>We are super excited here at Team Stuck</p>
                <p>
                    We received feedback from some of you that the process of downloading the app (if you didn’t know about us until you consulted Capt Google) and then entering your details before someone is winging their way to get you unStuck is too long
                    So don’t say we don’t listen!
                </p>
                <p>From the middle of March you will now be able to load a job directly from the browser.</p>
                <img class="img-responsive" src="/images/stuck_latestnews.jpg">
                <p>Just click on the Get Help Now button – how hard is that!</p>
                <p>“Big Deal” I hear the most twisted and cynical of you say? </p>
                <p>Well phewy to you!  We have gone above and beyond to make the experience like the one in the smartphone app and then to top it all off once you have submitted the job you can then download the app onto your smartphone, login and hey presto you will see our Expert is just minutes away.  Alternatively you can stay in the browser and we will keep you updated with progress.</p>
                <p>Team Stuck – working hard to make your Stuck moments as easy as possible!</p>
                <p>
                    Keep tuned as we have another exciting development in the pipe that will make your vehicle life easier than ever before.
                    Drive safe
                </p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>March 17th, 2018</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Wash-me.jpg" /></div>
                <h1><a href="">Wash Me!</a></h1>
                <p>Most of us scrub up all right (except for the Tech team at Stuck – no end of polish will sort that scruffy lot out).  You do it for yourself every once in a while so why not your caboose? Giving your car a good washing from top to bottom using a product specifically made [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>December 7th, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Weather1.jpg" /></div>
                <h1><a href="">What a Diverse Country We Live in</a></h1>
                <p>This weekend is the first weekend of Summer.  Perth and Darwin have taken notes and will record temperatures in the mid to high 30’s whilst the recalcitrant East coast is being a Summer sceptic with temperature in the low 20’s and once in thirty-year rainfalls. Still, as a national operator, that just keeps the team [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>December 4th, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Spring2.jpg" /></div>
                <h1><a href="">Spring has Sprung</a></h1>
                <p>Now that winter is becoming a memory, millions of Australians will take to the roads to enjoy the warmer weather. Stuck reckons that spring is the perfect time of year to make sure your vehicle is ready for the upcoming travel season. Whether you’re driving across the country or driving across town, here are a [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>September 22nd, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Traffic.jpg" /></div>
                <h1><a href="">Why get your Roadside Assistance from Stuck?</a></h1>
                <p>There are a lot of reasons why you should use Stuck.  The five obvious (and very tangible) ones include: Faster – we find relevant Experts who are closest to you.  Our response times are invariably ½ the time of the dedicated service providers who have the people in dedicated, brightly coloured vans with every known [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>September 5th, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Aretha-3.jpg" /></div>
                <h1><a href="">R.E.S.P.E.C.T</a></h1>
                <p>We like to think that the team at Stuck have a social conscience.  Hence we have programs like the Community Referral program whereby community groups can participate in the profits that we make.  We also like to think that our customers who are currently inconvenienced by requiring roadside assistance are only momentarily Stuck.  They are [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>August 29th, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Watching.png" /></div>
                <h1><a href="">While Shepherds Watch their Flocks by Night</a></h1>
                <p>Now while you may be no shepherd, and one should definitely not still be singing Christmas carols, you may have that special person in your life who you like to keep a loving eye on, particularly in times of trouble. Breaking down on the side of the road at two o’clock in the morning in [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>June 7th, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/tech.png" /></div>
                <h1><a href="">Stuck is Microsoft TechNet’s featured startup today!</a></h1>
                <p>Azimuth Labs is an Australian startup that has developed Stuck, a new app that will revolutionize the way you pay for and receive roadside assistance. The aptly named app is an on-demand service that connects local automotive experts with drivers who are “stuck” and in need of roadside help. The Stuck platform is designed to [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>September 22nd, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Flat.jpg" /></div>
                <h1><a href="">The dreaded flat – what next?</a></h1>
                <p>First understand that flat tyres always seem to happen in all the wrong places and at the worst possible time - you're running late, you're dressed to impress and the weather is atrocious.  So, what next? Well there are times when you shouldn't have a crack at changing it yourself.  These include: If your car [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>May 5th, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/legs-window-car-dirt-road-51397.jpg" /></div>
                <h1><a href="">Get Stuck! Go on, you know you want to!</a></h1>
                <p>There are a lot of reasons why you should use Stuck.  The obvious (and very tangible) ones include: Faster – we find relevant Experts who are closest to you.  Our response times are invariably ½ the time of the dedicated service providers who have the people in little brightly coloured vans with every known tool [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>April 21st, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
            <div class="news_block">
                <div class="new_images"><img class="img-responsive" src="~/images/Easter-image.png" /></div>
                <h1><a href="">Easter Road Trip – Survival Guide</a></h1>
                <p>Well the Easter weekend has arrived, that time of year when families travel far and wide to spend the longest of long weekends together. In preparation for this busy time on the roads, we’ve put together some tips to ensure that you have the safest Easter possible. Prepare your vehicle Conduct a 5 point safety [...]</p>
                <div class="comments_box">
                    <div>By <span><a href="" title="Posts by Stuck Team">Stuck Team</a></span> <span>|</span> <span>April 13th, 2017</span> <span>|</span> <a href="">Announcements</a> <span>|</span> <span><a href="">0 Comments</a></span><span class="pull-right read_more"><a href="">Read More ></a></span></div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <ul class="pagination">
                <li><a class="active" href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a class="next_link" href="">Next ></a></li>
            </ul>
        </div>
    </div>
</div>