﻿
@{
    ViewBag.Title = "Legal";
}

<div class="container lgl">
    <h1>TERMS AND CONDITIONS</h1>
    <p>
        For: Roadside Australia Pty Ltd (ACN 614 043 711) of 160 Beaufort Street Highgate WA 6003 Australia (<strong>Roadside Australia</strong>)<br>
        Last updated: October 25, 2016<br>
        <strong>1. Contractual Relationship</strong><br>
        These Terms of Use (“Terms”) govern the access or use by you of applications, websites, content, products, and services (the “Services”) made available by Roadside Australia from within any country in the world (excluding the United States and its territories and possessions and Mainland China).<br>
        PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING THE SERVICES.<br>
        Your access and use of the Service constitutes your agreement to be bound by these Terms, which establishes a contractual relationship between you and Roadside Australia. If you do not agree to these Terms, you may not access or use the Service. These Terms expressly supersede prior agreements or arrangements with you. Roadside Australia may immediately terminate this agreement or the Service, or any part of it, at any time for any reason.<br>
        Supplemental terms may apply to certain aspects of the Service, such as policies for a particular event, activity or promotion, and such supplemental terms will be disclosed to you in connection with the applicable part of the Service. Supplemental terms are in addition to, and shall be deemed a part of, these Terms for the purposes of the applicable part of the Service. Supplemental terms shall prevail over these Terms in the event of a conflict with respect to the applicable part of the Service.<br>
        Roadside Australia may amend the Terms from time to time. Amendments will be effective upon Roadside Australia’s posting of updated Terms at this location or the amended policies or supplemental terms on the applicable Service. Your continued access or use of the Service after that posting constitutes your consent to be bound by the amended Terms.<br>
        Our collection and use of personal information in connection with the Service, is governed by our Privacy Statement located at https://www.stuck.com.au/privacy. Roadside Australia may provide any necessary information (including your contact information) to a claims processor or an insurer if there is a complaint, dispute or conflict, and such information or data is necessary to resolve the complaint, dispute or conflict.
    </p>
    <p>
        <strong>2. The Services</strong><br>
        The Service constitutes a technology platform that enables users of Roadside Australia’ mobile application or website (each, an “Application”) to arrange and schedule transportation, logistics and/or services with independent third parties, under agreement with Roadside Australia (or its affiliates (“Third Party Providers”).<br>
        Unless otherwise agreed by Roadside Australia in a separate written agreement with you, the Service is made available solely for your personal and non-commercial use.<br>
        You acknowledge that Roadside Australia does not provide transportation, logistics or services and that all such transportation, logistics or services are provided by independent third party contractors who are not employed by Roadside Australia or any of its affiliates.<br>
        <strong>3. License</strong><br>
        Subject to your compliance with these Terms, Roadside Australia grants you a non-exclusive and revocable licence to:<br>
        (i) access and use the Applications on your personal device solely in connection with your use of the Service; and<br>
        (ii) access and use any content, information and related materials that may be made available through the Service, in each case solely for your personal and non-commercial use.<br>
        This licence may not be assigned or transferred in any way and any rights not expressly granted herein are reserved by Roadside Australia and Roadside Australia’ licensors.<br>
        <strong>4. Restrictions</strong><br>
        You may not:<br>
        (i) remove any copyright, trademark or other proprietary notices from any portion of the Service;<br>
        (ii) reproduce, modify, prepare derivative works based upon, distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Services except as expressly permitted by Roadside Australia;<br>
        (iii) decompile, reverse engineer or disassemble the Service except as may be permitted by applicable law;<br>
        (iv) link to, mirror or frame any portion of the Service;<br>
        (v) cause or launch any programs or scripts for the purpose of scraping, indexing, surveying, or otherwise data mining any portion of the Service or unduly burdening or hindering the operation and/or functionality of any aspect of the Service; or<br>
        (vi) attempt to gain unauthorized access to or impair any aspect of the Service or its related systems or networks.<br>
        <strong>5. Branded Services</strong><br>
        You acknowledge that portions of the Service may be made available under Roadside Australia’ various brands, including the roadside assistance brands currently referred to as “Stuck”.<br>
        <strong>6. Third Party Services and Content</strong><br>
        The Service may be made available or accessed in connection with third party services and content (including advertising) that Roadside Australia does not control. You acknowledge that different terms of use and privacy policies may apply to your use of such third party services and content.<br>
        Roadside Australia does not endorse such third party services and content and in no event shall Roadside Australia be responsible or liable for any products or services of those third party providers.<br>
        Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited and/or their applicable international subsidiaries and affiliates will be third party beneficiaries to this contract if you access the Service using Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These third party beneficiaries are not parties to this agreement and are not responsible for the provision or support of the Service in any manner. Your access to the Service using these devices is subject to terms set forth in the applicable third party beneficiary’s terms of service.<br>
        <strong>7. Ownership</strong><br>
        The Service and all rights comprising it, are, and will, remain Roadside Australia’ property or the of Roadside Australia’ licensors, as the case may be. Neither these Terms nor your use of the Service convey or grant to you any rights:<br>
        (i) in, or related to, the Service except for the limited license granted above; or<br>
        (ii) to use or reference Roadside Australia’ company names, logos, product and service names, trademarks or services marks in any manner, or those of Roadside Australia’ licensors.<br>
        <strong>8. User Accounts</strong><br>
        In order to use most aspects of the Service, you must register for and maintain an active personal user Service account (“Account”). You must be at least 16 years of age, or the age of legal majority, to obtain an Account.<br>
        Account registration requires you to submit to us certain personal information, such as your name, address, mobile phone number and age, as well as at least one valid payment method (either a credit card or accepted payment partner).<br>
        You agree to maintain accurate, complete, and up-to-date information in your Account. Your failure to maintain accurate, complete, and up-to-date Account information, including having an invalid or expired payment method on file, may result in your inability to access and use the Service, or any part of it, or Roadside Australia’ termination of these Terms with you.<br>
        You are responsible for all activity that occurs under your Account, and you agree to maintain the security and secrecy of your Account username and password at all times.<br>
        Unless otherwise permitted by Roadside Australia in writing, you may only possess one Account.<br>
        <strong>9. User Requirements and Conduct</strong><br>
        The Service is not available for use by persons under the age of 16and you may not allow persons under the age of 16 to receive services from Third Party Providers unless they are accompanied by you.<br>
        You may not authorise third parties to use your Account and you may not assign or otherwise transfer your Account to any other person or entity.<br>
        You agree to comply with all applicable laws when using the Service, and you may only use the Service for lawful purposes (e.g., no transport of unlawful or hazardous materials).<br>
        When using the Service you will not cause nuisance, annoyance, inconvenience, or property damage to any other party.<br>
        In certain instances, you may be asked to provide proof of identity to access or use the Service, and you agree that you may be denied access to or use of the Services if you refuse to provide proof of identity.<br>
        <strong>10. Text Messaging</strong><br>
        By creating an Account, you agree that the Service may send you informational text messages (SMS) as part of the normal business operation of your use of the Services. You may opt-out of receiving text messages (SMS) from Roadside Australia at any time by sending an email to hello@stuck.com.au indicating that you no longer wish to receive such messages, along with the phone number of the mobile device receiving the messages. You acknowledge that opting out of receiving text messages (SMS) may impact your use of the Services.<br>
        <strong>11. Promotional Codes</strong><br>
        Roadside Australia may, in its sole discretion, create promotional codes that may be redeemed for Account credit, or other features or benefits related to the Service and/or a Third Party Provider’s services, subject to any additional terms that Roadside Australia establishes on a per promotional code basis (“Promo Code”).<br>
        You agree that Promo Codes:<br>
        (i) must be used for the intended audience and purpose, and in a lawful manner;<br>
        (ii) may not be duplicated, sold or transferred in any manner, or made available to the general public (whether posted to a public form or otherwise), unless expressly permitted by Roadside Australia;<br>
        (iii) may be disabled by Roadside Australia at any time for any reason without liability to Roadside Australia;<br>
        (iv) may only be used pursuant to the specific terms that Roadside Australia establishes for such Promo Code;<br>
        (v) are not valid for cash; and<br>
        (vi) may expire prior to your use.<br>
        Roadside Australia reserves the right to withhold or deduct credits or other features or benefits obtained through the use of Promo Codes in the event that Roadside Australia determines that the use or redemption of the Promo Code was in error, fraudulent, illegal, or in violation of the applicable Promo Code terms or these Terms.<br>
        <strong>12. User Provided Content</strong><br>
        Roadside Australia may, in Roadside Australia’s sole discretion, permit you from time to time to submit or upload textual, audio, and/or visual content to Roadside Australia through the Service. This may include commentary and feedback related to the Service, initiation of support requests, and submission of entries for competitions and promotions (“User Content”).<br>
        Any User Content provided by you remains your property, however, by providing User Content to Roadside Australia, you grant Roadside Australia a worldwide, perpetual, irrevocable, transferrable, royalty-free license, with the right to use in any legal manner for any purpose connected with the Service and Roadside Australia business.<br>
        You represent and warrant that:<br>
        (i) you are the sole and exclusive owner of all User Content or you that you have all rights, licenses, consents and releases necessary to grant Roadside Australia the license to the User Content as granted above; and<br>
        (ii) neither the User Content, your making it available nor Roadside Australia’ use of the User Content will infringe any third party’s rights or any law or regulation.<br>
        You agree to not provide User Content that is in any way illegal or offensive, as determined by Roadside Australia in its sole discretion.<br>
        Roadside Australia may, but is not obligated to, review, monitor, or remove User Content, at Roadside Australia’ sole discretion and at any time or for any reason, without notice to you.<br>
        <strong>13. Network Access and Devices</strong><br>
        You are responsible for obtaining the data network access necessary to use the Service. Your mobile network’s data and messaging rates and fees may apply if you access or use the Service from a wireless-enabled device and you are solely responsible for those rates and fees.<br>
        You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Service and Applications. Roadside Australia does not guarantee that the Service, or any part of it, will function on any particular hardware or device.<br>
        The Service may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications.<br>
        <strong>14. Payment</strong><br>
        The use of the Services may result in charges to you for the services or goods you receive from a Third Party Provider (“Charges ”). After you have received services or goods obtained through your use of the Service, Roadside Australia will facilitate your payment of the applicable Charges on behalf of the Third Party Provider.<br>
        Payment of the Charges in this way will be considered the same as payment made directly by you to the Third Party Provider.<br>
        Charges will be inclusive of applicable taxes where required by law.<br>
        Charges paid by you are final and non-refundable, unless otherwise determined by Roadside Australia. You retain the right to request lower Charges from a Third Party Provider for services or goods received by you from that Third Party Provider at the time you receive those services or goods.<br>
        Roadside Australia will respond accordingly to any request from a Third Party Provider to modify the Charges for a particular service or good.<br>
        All Charges are due immediately and payment will be facilitated by Roadside Australia using the preferred payment method designated in your Account, and Roadside Australia will provide you a receipt by email. If your primary Account payment method fails for any reason, you agree that Roadside Australia may use a secondary payment method in your Account, if available.<br>
        As between you and Roadside Australia, Roadside Australia reserves the right to establish, remove and/or revise Charges for any or all services or goods obtained through the use of the Service at any time in Roadside Australia’ sole discretion. Further, you acknowledge and agree that Charges applicable in certain geographical areas may increase substantially during times of high demand.<br>
        Whilst Roadside Australia will use reasonable efforts to inform you of Charges that may apply, you will be responsible for Charges incurred under your Account regardless of your awareness of any Charges.<br>
        Roadside Australia may provide certain users with promotional offers and discounts that may result in different amounts charged for the same or similar services or goods, and unless that promotional offer or discount is made available to you, it will have no bearing on your use of the Services or the Charges applied to you.<br>
        You may elect to cancel your request for services or goods from a Third Party Provider at any time prior to such Third Party Provider’s arrival, in which case you may be charged a cancellation fee.<br>
        This payment structure is intended to fully compensate the Third Party Provider for the services or goods provided.<br>
        After you have received services or goods obtained through the Service, you will have the opportunity to rate your experience and leave additional feedback about your Third Party Provider.<br>
        <strong>15. Repair or Cleaning Fees</strong><br>
        You are responsible for the cost of any repair or cleaning of Third Party Provider vehicles and property in excess of normal ‘wear and tear’ (“Repair or Cleaning”), resulting from the use of the Service under your Account .<br>
        In the event that a Third Party Provider reports the need for Repair or Cleaning, and that Repair or Cleaning request is verified by Roadside Australia in Roadside Australia’ reasonable discretion, Roadside Australia reserves the right to facilitate payment for the reasonable cost of such Repair or Cleaning on behalf of the Third Party Provider using your payment method designated in your Account. Such amounts will be transferred by Roadside Australia to the applicable Third Party Provider and are non-refundable.<br>
        <strong>16. Disclaimer</strong><br>
        In addition, Roadside Australia makes no representation or warranty, whether express or implied, and provides no guarantee, regarding the reliability, timeliness, quality, suitability or availability of the Service or any services or goods requested through the use of the Service, or that the Service will be uninterrupted or error-free.<br>
        Roadside Australia makes no representation or warranty, whether express or implied, and provides no guarantee, regarding the quality, suitability, safety or ability of Third Party Providers. You agree that the entire risk arising out of your use of the Service, and any service or good requested from and Third Party Provider, remains solely between and the Third Party Provider.<br>
        <strong>17. Limitation of Liability</strong><br>
        Roadside Australia shall not be liable for any loss, damage, or liability arising out of or in connection with:<br>
        (i) your use of or reliance on the Service or your inability to access or use the Service; or<br>
        (ii) any transaction or relationship between you and any Third Party Provider,<br>
        even if Roadside Australia has been advised of the possibility of such damages.<br>
        Roadside Australia’ Services may be used by you to request and schedule services and goods from Third Party Providers, but you agree that Roadside Australia has no responsibility for, or liability to you, related to any services or goods provided to you by Third Party Providers.<br>
        <strong>18. Indemnity</strong><br>
        You agree to indemnify and hold Roadside Australia and its officers, directors, employees and agents harmless from any and all claims, demands, losses, liabilities, and expenses (including legal costs) arising out of or in connection with:<br>
        (i) your use of the Service or services or goods obtained through your use of the Services;<br>
        (ii) your breach or violation of any of these Terms;<br>
        (iii) Roadside Australia’ use of your User Content; or<br>
        (iv) your violation of the rights of any third party, including Third Party Providers.<br>
        <strong>19. Governing Law; Arbitration</strong><br>
        These Terms exclusively governed by, and construed in accordance with, the laws of Western Australia.<br>
        Any dispute, controversy or claim arising out of, relating to or in connection with these Terms or the Service, shall be resolved by mediation or arbitration in accordance with the Australian Centre for International Commercial Arbitration’ (ACICA) Arbitration Rules. The seat of arbitration shall be Perth, Western Australia; the language of the arbitration shall be English; and the number of arbitrators shall be one.<br>
        The mediation or arbitration proceedings, including all materials relating to it and any, orders and awards issued, must remain strictly confidential and will not be disclosed to any third party without the express written consent from the other party unless:<br>
        (i) the disclosure to the third party is reasonably required in the context of conducting the mediation or arbitration proceedings; and<br>
        (ii) the third party agrees unconditionally in writing to be bound by the confidentiality obligation.<br>
        <strong>20. Notice</strong><br>
        Roadside Australia may give notice by means of a general notice on the Services, electronic mail to your email address in your Account, or by written communication sent to your address as set forth in your Account. You may give notice to Roadside Australia only by written communication to Roadside Australia’ address at 160 Beaufort Street, Highgate, Western Australia 6003.<br>
        <strong>21. Assignment</strong><br>
        You may not assign or transfer this agreement, or any part of it, without Roadside Australia express prior written approval.<br>
        You give your approval to Roadside Australia for it to assign or transfer this agreement, or any part of it to:<br>
        (i) any subsidiary or affiliate of Roadside Australia;<br>
        (ii) an acquirer of Roadside Australia’s equity, business or assets; or<br>
        (iii) a successor by merger.<br>
        <strong>22. No Joint Venture or Partnership</strong><br>
        No joint venture, partnership or agency relationship exists between you, Roadside Australia or any Third Party Provider as a result of this agreement or use of the Service.<br>
        <strong>23. Invalid or Unenforceable Provisions</strong><br>
        If any provision of these Terms is held to be illegal, invalid or unenforceable then, to the maximum extent possible, that provision will be deemed to be excised from these Terms and the legality, validity and enforceability of all other provisions in these Terms shall not be affected.<br>
        In that event, the parties will be deemed to have replaced the illegal, invalid or unenforceable provision with a provision that is legal, valid and enforceable and that has, to the greatest extent possible, the same effect as the excised provision,<br>
        <strong>24. Entire Agreement</strong><br>
        These Terms constitute the entire agreement and understanding of the parties with respect to the Service and supersedes all prior agreements, representations or undertakings regarding the Service.<br>
        <strong>25. Interpretation</strong><br>
        In these Terms, the words “including” and “include” mean “including, but not limited to.”
    </p>
    <p>&nbsp;</p>
</div>
