﻿@model Stuck.BasePresentation.Models.BookingModel

@{
    ViewBag.Title = "Roadside Assistance";
}

@{
    string googlemapuri = "https://maps.googleapis.com/maps/api/js?libraries=places&language=en-AU&key=" + Model.GoogleMapKey;
}

<script src="@googlemapuri"></script>
<script src="~/Scripts/custom.maputility.stuck.js"></script>
<script src="~/Scripts/custom.clientcalls.stuck.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@using (Html.BeginForm("Location", "Landing", FormMethod.Post, new { id = "FormLocation" }))
{

    <div class="vh-height">
        <div>
            <div class="map_wrapper">
                <div id="divMap" class="mainMap"></div>
                <div class="location_wrap">
                    @Html.TextBoxFor(m => m.Address, new { @class = "enter_location source_loc form-control" })
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="bookingConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Location Required</h4>
                    </div>
                    <div class="modal-body" id="bookingConfirmationModalContent">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.HiddenFor(m => m.Address)
    @Html.HiddenFor(m => m.ServiceId)
    @Html.HiddenFor(m => m.serviceRegion)
    @Html.HiddenFor(m => m.AddressGeoLocation.latitude)
    @Html.HiddenFor(m => m.AddressGeoLocation.longitude)
    @Html.Hidden("showConfirmLocation", "show")
}

<!-- Modal -->
<div class="modal fade" id="servicesNotAvailableConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">No Services Available</h4>
            </div>
            <div class="modal-body" id="servicesNotAvailableModalContent">
                Sorry, Stuck is currently unavailable in this location.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    var servicesRestricedAreas = '@Html.Raw(Model.BlockedPostCodes)';

    $(document).ready(function ()
    {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        GetCurrentLocation(true);
        // init jquery helpers for map
        var model = @Html.Raw(Json.Encode(Model));
        DrawMap();
        PlugAddressSuggestion();
    });

    function ShowServicesNotAvailable() {
        $("#Address").val('');
        $('#servicesNotAvailableConfirmationModal').modal('show');
    }

    function confirmbookingrequest()
    {
        if ($("#Address").val() == undefined || $("#Address").val() == "")
        {
            $("#bookingConfirmationModalContent").html('<div class="info"><div class="info_value">Please enter location in location box</div></div>');
            $('#bookingConfirmationModal').modal('show');
        }
        else
        {
            $("#FormLocation").submit();
        }
    }

</script>

<style>
    .mainMap {
        height: 500px;
    }
</style>