﻿@{
    ViewBag.Title = "Locked Out?";
}


<div class="container text-center">
    <div class="service_landing_wrap">
        <div class="service_landing_img">
            <img src="~/images/LockedOut_black.png" />
        </div>
        <div class="service_landing_title service_content">
            <h1>Keys locked in your car? Get assistance now</h1>
            <p>If you’ve locked your keys in your car we can send out a technician to attempt to unlock the car for you. For security reasons you’ll be required to sign a consent form, have your driver’s license available, and be willing to be photographed by our technician.</p>
        </div>
        <div class="service_landing_subtitle service_content">
            <h2>To order lock out assistance:</h2>
            <p><a href="/">Download the Stuck App</a>, set your location and vehicle details and request help.</p>
        </div>
        <div class="badge_icons">
            <a href="/Landing/Location">
                <img class="download_badges" src="~/images/Booknow.png" />
            </a>
            <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                <img class="download_badges" src="~/images/App-Store.png" />
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                <img class="download_badges" src="~/images/google-play-badge.png" />
            </a>
        </div>
        <p>* prices for regional and after-hours jobs may vary – please check in-app</p>
    </div>
</div>