﻿
@{
    ViewBag.Title = "Need Mechanic?";
}

<div class="container text-center">
    <div class="service_landing_wrap">
        <div class="service_landing_img">
            <img src="~/images/Mechanical_black.png" />
        </div>
        <div class="service_landing_title service_content">
            <h1>Get mechanical assistance now</h1>
            <p>We’ll send a local mechanic to you who’ll provide a temporary repair, to get you back on the road. The mechanic will assess your car and do what he can to get you going. If you have a problem that can’t be fixed on the roadside, you’ll need to <a href="/Landing/Tow">request a tow</a> instead.</p>
        </div>
        <div class="service_landing_subtitle service_content">
            <h2>To order mechanical roadside assistance:</h2>
            <p><a href="/">Download the Stuck App</a>, set your location and vehicle details and request help.</p>
        </div>
        <div class="badge_icons">
            <a href="/Landing/Location">
                <img class="download_badges" src="~/images/Booknow.png" />
            </a>
            <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                <img class="download_badges" src="~/images/App-Store.png" />
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                <img class="download_badges" src="~/images/google-play-badge.png" />
            </a>
        </div>
        <p>* prices for regional and after-hours jobs may vary – please check in-app</p>
    </div>
</div>