﻿@{
    ViewBag.Title = "Media Kit - Stuck";
}
<div class="container">
    <div class="page_wrapper media_kit">
        <h1 class="page_title">Media Kit</h1>
        <div class="media_kit_icon"><img src="~/images/Icon-App-60x60@3x.png"></div>
        <div class="stuck_content">
            <div>
                <h3>About Stuck</h3>
                <p>On-demand roadside assistance app</p>
                <p>Sending local automotive experts to the rescue when you’re STUCK!</p>
            </div>
            <div>
                <h3>Description</h3>
                <p>Getting stuck sucks! Whether it’s a flat battery, punctured tyre, empty fuel tank or locked-in keys, it happens to us all.</p>
                <p>Stuck is an on-demand service which calls local automotive experts to the rescue, saving you an annual insurance-style roadside assistance membership. Here’s how it works:</p>
                <ol>
                    <li>Share your required service and location with local, accredited automotive experts. The nearest available expert will arrive to help as soon as possible.</li>
                    <li>You are given the price upfront, which is usually about half the cost of a normal annual membership. Any extras can be added on if required (such as a new tyre).</li>
                    <li>Once your car problem is resolved, payment happens automatically without paperwork. Finally, you provide feedback to the automotive expert and get going!</li>
                </ol>
                <p>(Coming soon) ‘watch over me’ is a security feature which allows users to share their Stuck status with family or friends. When a job is shared, the third party can see the user’s location and the progress and details of the expert. They are then notified when the problem is resolved, knowing their loved one is safely on their way.</p>
            </div>
            <div>
                <div class="table_div">
                    <div class="table_div_cell half media_images">
                        <img src="~/images/Stuck-Hero-Image1-350x350.jpg">
                    </div>
                    <div class="table_div_cell half media_images">
                        <img src="~/images/Stuck-Hero-Image-350x350.jpg" />
                    </div>
                </div>
                <div class="media_images media_small">
                    <img src="~/images/screen1-169x300.jpg" />
                    <img src="~/images/screen2-169x300.jpg" />
                    <img src="~/images/screen3-169x300.jpg" />
                    <img src="~/images/screen4-169x300.jpg" />
                    <img src="~/images/screen5-169x300.jpg" />
                </div>
            </div>
            <div>
                <h3>Apple App Store: <span><a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8</a></span></h3>
                <h3>Google Play Store: <span><a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck</a></span></h3>
            </div>
            <div>
                <h3>Articles</h3>
                <p><a target="_blank" href="">Sending local automotive experts to the rescue when you’re STUCK!</a></p>
                <p><a target="_blank" href="http://www.abc.net.au/news/2016-11-08/new-roadside-breakdown-service-app-stuck/8006874">Stuck: new roadside breakdown service app based on Uber model</a> <span>(ABC News)</span></p>
                <p><a target="_blank" href="http://www.watoday.com.au/wa-news/new-app-launched-in-wa-claims-to-be-the-uber-of-roadside-assistance-20161207-gt5qcs.html">New app launched in WA claims to be the Uber of roadside assistance</a> <span>(Fairfax)</span></p>
                <p><a target="_blank" href="https://www.businessnews.com.au/article/Stuck-to-disrupt-in-roadside-assistance">Stuck to disrupt in roadside assistance</a> <span>(Business News)</span></p>
            </div>
            <div>
                <h3>Videos</h3>
                <p>ABC News: <a target="_blank" href="https://www.youtube.com/watch?v=UMBqpnk3fWU">https://www.youtube.com/watch?v=UMBqpnk3fWU</a></p>
                <p>Fairfax: <a target="_blank" href="https://youtu.be/ViDcnSQZKzg">https://youtu.be/ViDcnSQZKzg</a></p>
                <p>App video: <a target="_blank" href="https://youtu.be/mN3a5ejApqE">https://youtu.be/mN3a5ejApqE</a></p>
                <p>Automotive expert video: <a target="_blank" href="https://youtu.be/HvpbOTwXwUo">https://youtu.be/HvpbOTwXwUo</a></p>
            </div>
            <div>
                <h3>Pricing and Availability</h3>
                <p>Stuck is rapidly expanding across Australia. The app is free to download. Call-out fees and any extra parts will be charged via credit card or Paypal.</p>
            </div>
            <div>
                <h3>Links: <span><a href="/">www.stuck.com.au</a> or <a href="/Landing/Supplier">www.stuck.com.au/supplier</a> – app store links to be confirmed upon release.</span></h3>
                <h3>Contact: <span>For media enquiries, contact <a href="mailto:hello@stuck.com.au">hello@stuck.com.au</a> or Greg Brown on 0412 654 910</span></h3>
            </div>
        </div>
    </div>
</div>