﻿
@{
    ViewBag.Title = "Privacy";
}

<div class="container ptxt">
    <h1>USER PRIVACY STATEMENT</h1>
    <p>Effective Date: October 25th 2016</p>
    <p>Stuck collects information about you when you use our mobile applications, websites, and other online products and services (collectively, the “Services”) and through other interactions and communications you have with us. If you reside in Australia, the Services are provided by Roadside Australia Pty Ltd (ABN 91614043711) and its Australian affiliates (collectively “Stuck”), and this Privacy Statement applies to information collected and used by Stuck.</p>
    <p><strong>Scope and Application</strong></p>
    <p>This Privacy Statement (“Statement&#8221;) applies to persons anywhere in the world who use our apps or Services (“Users”). This Statement does not apply to information we collect about drivers, service providers, couriers, partner transportation companies, or any other persons who use the Stuck platform under license (collectively “Service Providers”). If you interact with the Services as both a User and a Service Provider, the respective privacy statements apply to your different interactions.</p>
    <h3>Collection of Information</h3>
    <p><strong>Information You Provide to Us</strong></p>
    <p>We collect information you provide directly to us, such as when you create or modify your account, request on-demand services, contact customer support, or otherwise communicate with us. This information may include: name, email, phone number, postal address, profile picture, payment method, items requested (for delivery services), delivery notes, and other information you choose to provide.</p>
    <p><strong>Information We Collect Through Your Use of Our Services</strong></p>
    <p>When you use our Services, we collect information about you in the following general categories:</p>
    <ul>
        <li><strong>Location Information:</strong>When you use the Services for transportation or assistance, we collect precise location data from the Fixt app used by the Service Provider. If you permit the Stuck app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</li>
        <li><strong>Contacts Information:</strong>If you permit the Stuck app to access the address book on your device through the permission system used by your mobile platform, we may access and store names and contact information from your address book to facilitate social interactions through our Services and for other purposes described in this Statement or at the time of consent or collection.</li>
        <li><strong>Transaction Information:</strong>We collect transaction details related to your use of our Services, including the type of service requested, date and time the service was provided, amount charged, distance travelled, and other related transaction details. Additionally, if someone uses your promotional code, we may associate your name with that person.</li>
        <li><strong>Usage and Preference Information:</strong>We collect information about how you and site visitors interact with our Services, preferences expressed, and settings chosen. In some cases we do this through the use of cookies, pixel tags, and similar technologies that create and maintain unique identifiers. To learn more about these technologies, please see our Cookie Statement.</li>
        <li><strong>Device Information:</strong>We may collect information about your mobile device, including, for example, the hardware model, operating system and version, software and file names and verions, preferred language, unique device identifier, advertising identifiers, serial number, device motion information, and mobile network information.</li>
        <li><strong>Call and SMS Data</strong>: Our Services facilitate communications between Users and Service Providers. In connection with facilitating this service, we receive call data, including the date and time of the call or SMS message, the parties’ phone numbers, and the content of the SMS message.</li>
        <li><strong>Log Information:</strong>When you interact with the Services, we collect server logs, which may include information like device IP address, access dates and times, app features or pages viewed, app crashes and other system activity, type of browser, and the third-party site or service you were using before interacting with our Services.</li>
    </ul>
    <p><strong>Important Information About Platform Permissions</strong></p>
    <p>Most mobile platforms (iOS, Android, etc.) have defined certain types of device data that apps cannot access without your consent. And these platforms have different permission systems for obtaining your consent. The iOS platform will alert you the first time the Stuck app wants permission to access certain types of data and will let you consent (or not consent) to that request. Android devices will notify you of the permissions that the Stuck app seeks before you first use the app, and your use of the app constitutes your consent. To learn about the platform-level permissions that the app seeks, please visit <a href="http://www.stuck.com.au/iosPermissions/">www.stuck.com.au/iosPermissions/</a> and <a href="http://www.stuck.com.au/AndroidPermissions/">www.stuck.com.au/AndroidPermissions/</a> . Sometimes these permissions require more explanation than the platforms themselves provide, and the permissions we request will change over time, so we’ve created these pages to serve as authoritative and up-to-date resources for our users.</p>
    <p><strong>Information We Collect From Other Sources</strong></p>
    <p>We may also receive information from other sources and combine that with information we collect through our Services. For example:</p>
    <ul>
        <li>If you choose to link, create, or log in to your Stuck account with a payment provider (e.g., Google Wallet) or social media service (e.g., Facebook), or if you engage with a separate app or website that uses our API (or whose API we use), we may receive information about you or your connections from that site or app.</li>
        <li>When you request on demand services, our Service Providers may provide us with a User rating after providing services to you.</li>
        <li>If you also interact with our Services in another capacity, for instance as a Service Provider or user of other apps we provide, we may combine or associate that information with information we have collected from you in your capacity as a User.</li>
    </ul>
    <h3>Use of Information</h3>
    <p>We may use the information we collect about you to:</p>
    <ul>
        <li>Provide, maintain, and improve our Services, including, for example, to facilitate payments, send receipts, provide products and services you request (and send related information), develop new features, provide customer support to Users and Service Providers, develop safety features, authenticate users, and send product updates and administrative messages;</li>
        <li>Perform internal operations, including, for example, to prevent fraud and abuse of our Services; to troubleshoot software bugs and operational problems; to conduct data analysis, testing, and research; and to monitor and analyse usage and activity trends;</li>
        <li>Send or facilitate communications (i) between you and a Service Provider, such as estimated times of arrival (ETAs), or (ii) between you and a contact of yours at your direction in connection with your use of certain features, such as Watch Over Me;</li>
        <li>Send you communications we think will be of interest to you, including information about products, services, promotions, news, and events of Stuck and other companies, where permissible and according to local applicable laws; and to process contest, sweepstake, or other promotion entries and fulfill any related awards;</li>
        <li>Personalise and improve the Services, including to provide or recommend features, content, social connections, referrals, and advertisements.</li>
    </ul>
    <p>We may transfer the information described in this Statement to, and process and store it in, other countries, some of which may have less protective data protection laws than Australia. Where this is the case, we will take appropriate measures to protect your personal information in accordance with this Statement.</p>
    <p><strong>Sharing of Information</strong></p>
    <p>We may share the information we collect about you as described in this Statement or as described at the time of collection or sharing, including as follows:</p>
    <p><strong>Through Our Services</strong></p>
    <p><strong>We may share your information:</strong></p>
    <ul>
        <li>With Service Providers to enable them to provide the Services you request. For example, we share your name, photo (if you provide one), average User rating given by Service Providers, and pickup and/or drop-off locations with Service Providers;</li>
        <li>With third parties to provide you a service you requested through a partnership or promotional offering made by a third party or us;</li>
        <li>With the general public if you submit content in a public forum, such as blog comments, social media posts, or other features of our Services that are viewable by the general public;</li>
        <li>With third parties with whom you choose to let us share information, for example other apps or websites that integrate with our API or Services, or those with an API or service with which we integrate; and</li>
        <li>With your employer (or similar entity) and any necessary third parties engaged by us or your employer (e.g., an expense management service provider), if you participate in any of our enterprise solutions such as Stuck for Business.</li>
    </ul>
    <p><strong>Other Important Sharing</strong></p>
    <p><strong>We may share your information:</strong></p>
    <ul>
        <li>With Stuck subsidiaries and affiliated entities that provide services or conduct data processing on our behalf, or for data centralisation and / or logistics purposes;</li>
        <li>With vendors, consultants, marketing partners, and other service providers who need access to such information to carry out work on our behalf;</li>
        <li>In response to a request for information by a competent authority if we believe disclosure is in accordance with, or is otherwise required by, any applicable law, regulation, or legal process;</li>
        <li>With law enforcement officials, government authorities, or other third parties if we believe your actions are inconsistent with our User agreements, Terms of Service, or policies, or to protect the rights, property, or safety of Stuck or others;</li>
        <li>In connection with, or during negotiations of, any merger, sale of company assets, consolidation or restructuring, financing, or acquisition of all or a portion of our business by or into another company;</li>
        <li>If we otherwise notify you and you consent to the sharing; and</li>
        <li>In an aggregated and/or anonymous form which cannot reasonably be used to identify you.</li>
    </ul>
    <p><strong>Social Sharing Features</strong></p>
    <p>The Services may integrate with social sharing features and other related tools which let you share actions you take on our Services with other apps, sites, or media, and vice versa. Your use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the social sharing service. Please refer to the privacy policies of those social sharing services for more information about how they handle the data you provide to or share through them.</p>
    <p><strong>Analytics and Advertising Services Provided by Others</strong></p>
    <p>We may allow others to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These entities may use cookies, web beacons, SDKs, and other technologies to identify your device when you visit our site and use our Services, as well as when you visit other online sites and services. For more information about these technologies and service providers, please refer to our Cookie Statement.</p>
    <h3>Your Choices</h3>
    <p><strong>Account Information</strong></p>
    <p>You may correct your account information at any time by logging into your online or in-app account. If you wish to cancel your account, please email us at hello@stuck.com.au. Please note that in some cases we may retain certain information about you as required by law, or for legitimate business purposes to the extent permitted by law. For instance, if you have a standing credit or debt on your account, or if we believe you have committed fraud or violated our Terms, we may seek to resolve the issue before deleting your information.</p>
    <p><strong>Access Rights</strong></p>
    <p>Stuck will comply with any individual’s requests regarding access, correction, and/or deletion of the personal data it stores in accordance with the Australian Privacy Principles (<strong>APPs</strong>)<strong>.</strong></p>
    <p><strong>Location Information</strong></p>
    <p>We request permission for our app’s collection of precise location from your device per the permission system used by your mobile operating system. If you initially permit the collection of this information, you can later disable it by changing the location settings on your mobile device. However, this will limit your ability to use certain features of our Services. Additionally, disabling our app’s collection of precise location from your device will not limit our ability to collect your trip location information from a Service Provider’s device nor our ability to derive approximate location from your IP address.</p>
    <p><strong>Contact Information</strong></p>
    <p>We may also seek permission for our app’s collection and synchronisation of contact information from your device per the permission system used by your mobile operating system. If you initially permit the collection of this information, iOS users can later disable it by changing the contacts settings on your mobile device. The Android platform does not provide such a setting.</p>
    <p><strong>Promotional Communications</strong></p>
    <p>You may opt out of receiving promotional messages from us by following the instructions in those messages. If you opt out, we may still send you non-promotional communications, such as those about your account, about Services you have requested, or our ongoing business relations.</p>
    <p><strong>Cookies and Advertising</strong></p>
    <p>Please refer to our Cookie Statement for more information about your choices around cookies and related technologies.</p>
    <p><strong>Changes to the Statement</strong></p>
    <p>We may change this Statement from time to time. If we make significant changes in the way we treat your personal information, or to the Statement, we will provide you notice through the Services or by some other means, such as email. Your continued use of the Services after such notice constitutes your consent to the changes. We encourage you to periodically review the Statement for the latest information on our privacy practices.</p>
    <p><strong>Contact Us</strong></p>
    <p>If you have any questions about this Privacy Statement or you have any queries or complaints regarding the way we use your information or compliance with the APPs, please contact us at hello@stuck.com.au, or write us at Roadside Australia Pty Ltd., Attn: Legal,160 Beaufort Street, Highgate, WA 6003</p>
</div>