﻿@{
    ViewBag.Title = "Stuck - Boost your business with on demand roadside assistance";
}
<div class="gradient supplier banner">
    <div class="container">
        <div class="home_banner_wrap">
            <div class="home_banner_cell home_head">
                <h1 class="home_head_text">Boost your business, improve<br>loyalty & find new customers</h1>
                <h4 class="home_head_subtext">Stuck connects local automotive experts with customers<br>who need help in their area</h4>
                <h6 class="home_head_small">Want to be a Stuck expert? Please fill out your details below and we'll be in touch shortly.</h6>
                <div class="relative">
                    <div class="get_on_board">                        
                        <div class="get_on_board_form">
                            <div class="">
                                <label id="lblValidationResult" style="display:none;color:red;text-align: center;margin-bottom: 10px;">Please provide all valid details</label>
                                <input type="text" placeholder="Name" id="txtName" />
                                <input type="text" placeholder="Company" id="" />
                                <input type="email" placeholder="Email" id="txtEmail" />
                                <input type="number" pattern="\d*" placeholder="Phone" id="txtPhone" />
                                <input type="number" pattern="\d*" placeholder="Postcode" />
                                <div class="small_info_box">0 of 4 max characters</div>
                                <button type="submit" class="getonboard btn btn-primary">Get Started with Stuck</button>
                            </div>
                        </div>
                    </div>
                    <div style="display:none;" class="get_on_thank_you">
                        <div class="wpb_wrapper">
                            <h2>Thank you for jumping on board with Stuck!</h2>
                            <a class="btn btn-primary" href="">Download the Stuck app now</a>
                            <h2>Or check your email for the next step</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home_banner_cell stuck_mobile_wrap">
                <img src="~/images/iphone4.png" />
            </div>
        </div>
    </div>
</div>
<div class="container supplier">
    <div class="section2">
        <h1 class="header2">Local experts like you are in the best position to help people who are stuck</h1>
        <div class="text-center">
            <iframe width="723" height="395" src="https://www.youtube.com/embed/HvpbOTwXwUo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="table_div stuck_icon_grid">
            <div class="table_div_cell">
                <i><img src="~/images/Image_003.gif" /></i>
                <h3>ATTRACT NEW</h3>
                <p>customers previously being serviced by others.</p>
            </div>
            <div class="table_div_cell">
                <i><img src="~/images/Image_004.gif" /></i>
                <h3>ADD-ON</h3>
                <p>roadside help offering with no subscription cost.</p>
            </div>
            <div class="table_div_cell">
                <i><img src="~/images/Image_005.gif" /></i>
                <h3>BE AVAILABLE</h3>
                <p>whenever you want to, and not when you don’t.</p>
            </div>
            <div class="table_div_cell">
                <i><img src="~/images/Image_006.gif" /></i>
                <h3>BETTER USE</h3>
                <p>of resources, especially during quiet times.</p>
            </div>
            <div class="table_div_cell">
                <i><img src="~/images/Image_007.gif" /></i>
                <h3>EMERGENCY</h3>
                <p>assistance consistently develops long term loyalty.</p>
            </div>
            <div class="table_div_cell">
                <i><img src="~/images/Image_008.gif" /></i>
                <h3>KEEP YOUR</h3>
                <p>business marketing up to date in the digital age.. </p>
            </div>
            <div class="table_div_cell">
                <i><img src="~/images/Image_009.gif" /></i>
                <h3>PROBABLY THE</h3>
                <p>cheapest cost per customer acquisition in the market!.</p>
            </div>
        </div>
    </div>    
</div>
<div class="gradient supplier">
    <div class="container">
        <div class="home_banner_wrap">
            <h1 class="home_head_text">How Stuck works</h1>
            <div class="table_div how_it_works">
                <div class="table_div_cell">
                    <div class="block_withArrow">
                        <h3>1</h3>
                        <p>A stranded motorist requests help for either a tyre, battery, fuel, tow or mechanical problem with their car</p>
                    </div>
                </div>
                <div class="table_div_cell">
                    <div class="block_withArrow">
                        <h3>2</h3>
                        <p>You as the preferred supplier have the option to accept or reject the job based on your current availability</p>
                    </div>
                </div>
                <div class="table_div_cell">
                    <div class="block_withArrow">
                        <h3>3</h3>
                        <p>After accepting, the customer is alerted that you are on your way to help them with an ETA and live tracking</p>
                    </div>
                </div>
                <div class="table_div_cell">
                    <div class="block_withArrow">
                        <h3>4</h3>
                        <p>After you have arrived and solved the problem, the customer receives a service summary</p>
                    </div>
                </div>
                <div class="table_div_cell">
                    <div class="block_withArrow">
                        <h3>5</h3>
                        <p>Payments are automatically processed (no cash or paperwork) and both parties have the ability to rate each other</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="supplier features">
    <div class="container">
        <div>
            <h1 class="home_head_text">Features to improve your automotive business</h1>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="features_list">
                        <li class="get_allocated"><span>Get allocated</span> jobs based on your capability, availability and customer rating.</li>
                        <li class="know_who"><span>Know who</span> you are going to, where they are, what they drive and what problem they have – before accepting the job</li>
                        <li class="turn_by_turn"><span>Turn-by-turn</span> navigation & ETA to customer</li>
                        <li class="contact_customer"><span>Contact customer</span> with your phone number masked</li>
                        <li class="no_cash"><span>No cash</span> get paid automatically</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="features_list">
                        <li class="sell_additional"><span>Sell additional items</span> eg. Battery, charger, fuel, wipers, etc) and get paid through the platform</li>
                        <li class="get24x7"><span>Get work 24 x 7</span> if you are available………or not – you choose</li>
                        <li class="rate_customer"><span>Rate customers</span> not all are people we want to service going forward</li>
                        <li class="choose_who"><span>Choose who</span> in your shop will do the work – you are in control</li>
                        <li class="ios_android"><span>iOS and Android</span> version available</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-8">
                    <h1 class="home_head_text">Ready to boost your business?</h1>
                    <h4 class="home_head_subtext">Get started with Stuck on demand roadside assistance today</h4>
                </div>
                <div class="col-md-4 center_767">
                    <a class="get_started_with_stuck" href="">Get Started with Stuck <span class="glyphicon glyphicon-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>