﻿
@{
    ViewBag.Title = "Broken Down?";
}

<div class="container text-center">
    <div class="service_landing_wrap">
        <div class="service_landing_img">
            <img src="~/images/Tow_black.png" />
        </div>
        <div class="service_landing_title service_content">
            <h1><a href="/Landing/Tow">Order a tow truck now</a></h1>
            <p>Broken down? For $94, we’ll get a tow truck out to your location fast.</p>
            <p>This includes up to 10kms towing travel from where they pick you up. Any further and it’s an extra $3.99 per km. Be aware tow trucks can’t always carry multiple passengers! The tow service is based on a standard passenger vehicle, so there could be additional costs if your vehicle is not standard height, width, or has been modified. If you’re unsure use the App to call your tow driver.</p>
        </div>
        <div class="service_landing_subtitle service_content">
            <h2>To order a tow truck:</h2>
            <p><a href="/">Download the Stuck App</a>, set your location and vehicle details and request help.</p>
        </div>
        <div class="badge_icons">
            <a href="/Landing/Location">
                <img class="download_badges" src="~/images/Booknow.png" />
            </a>
            <a target="_blank" href="https://itunes.apple.com/au/app/stuck-roadside-assistance/id1142911755?mt=8">
                <img class="download_badges" src="~/images/App-Store.png" />
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.azimuthlabs.stuck">
                <img class="download_badges" src="~/images/google-play-badge.png" />
            </a>
        </div>
        <p>* prices for regional and after-hours jobs may vary – please check in-app</p>
    </div>
</div>