﻿/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 16px;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 400;
}

html, body {
    font-family: 'Ropa Sans', sans-serif;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Awesomestvi Styles */

/* loader css */
.loaderbg {
    height: 100vh;
    width: 100%;
    display: block;
    background-color: #cccccc59;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}

.loader {
    border: 8px solid #e0e0e0;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s ease-in-out infinite; /* Safari */
    animation: spin 2s ease-in-out infinite;
    margin: 49vh auto;
}


/* Safari */
@@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* loader css */

/* Defaults */
.relative {
    position: relative;
}

.textwidget a {
    display: block;
    margin-bottom: 8px;
}

.body-content {
    min-height: 500px;
}

.vaidationclass {
    color: red;
}

.validlablel {
    color: red;
    float: left;
    line-height: 16px;
    font-size: 12px;
}

label {
    line-height: 18px;
    margin: 0;
    display: block;
}

.form-control {
    padding: 8px 15px !important;
    margin: 0;
    height: auto !important;
    display: block;
    line-height: 18px;
    border-radius: 3px;
}

.mB15 {
    margin-bottom: 15px;
}

.gradient {
    background-image: -ms-linear-gradient(right, rgb(190,215,50) 0%, rgb(0,178,166) 50%);
    background-image: -moz-linear-gradient(right, rgb(190,215,50) 0%, rgb(0,178,166) 50%);
    background-image: -o-linear-gradient(right, rgb(190,215,50) 0%, rgb(0,178,166) 50%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgb(190,215,50)), color-stop(100, rgb(0,178,166)));
    background-image: -webkit-linear-gradient(right, rgb(190,215,50) 0%, rgb(0,178,166) 50%);
    background-image: linear-gradient(to left, rgb(190,215,50) 0%, rgb(0,178,166) 50%);
}


/* Buttons */
.btn {
    border-radius: 3px;
    border: 0;
    padding: 8px 20px;
    outline: none;
}

    .btn.btn-primary {
        background: #00C1CF;
        transition: all .2s ease-in-out;
    }

        .btn.btn-primary:hover,
        .btn.btn-primary:focus,
        .btn.btn-primary:active {
            background-color: #009ba6;
        }

    .btn.btn-default {
        background: #ddd;
    }

.fusion-header {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px;
    border: none;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-brand {
    padding: 10px 15px;
}

    .navbar-brand > img {
        height: 35px;
    }

.navbar-nav > li > a {
    padding: 17px 20px;
}

.navbar-toggle {
    padding: 15px 15px;
    margin: 0px;
    background: transparent;
    border: none;
    border-radius: 0;
    top: 5px;
    right: 5px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background: transparent;
    border: none;
}

/* Structure */
.mainBody.fusion-body {
    margin-top: 55px;
}

.page_wrapper {
    margin: 30px 0;
}

.page_header {
    margin-bottom: 20px;
}

.page_sections,
.section_header {
    margin-bottom: 30px;
}

.table_div {
    width: 100%;
    display: table;
}

.table_div_cell {
    display: table-cell;
    vertical-align: top;
}

    .table_div_cell.half {
        width: 50%;
    }

    .table_div_cell.third {
        width: 33.33%;
    }

    .table_div_cell.quater {
        width: 25%;
    }

.padding_spacing {
    padding: 80px 0;
}

/*
----------------------
	HOMEPAGE
----------------------
*/

/* --------- Defaults -------- */
.section_headers {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 0 25px 0;
    color: #333;
}

/* --------- Home Navigation -------- */
.mainBody.fusion-body.homepage {
    margin-top: 83px;
}

.homepage > .navbar {
    margin: 0;
}

    .homepage > .navbar > .container {
        position: relative;
    }

.homepage .navbar-header {
    float: none;
}

    .homepage .navbar-header .sign_in {
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none;
        padding: 33px 20px;
        color: #fff;
    }

        .homepage .navbar-header .sign_in:hover,
        .homepage .navbar-header .sign_in:focus,
        .homepage .navbar-header .sign_in:active {
            text-decoration: none;
            color: #fff;
        }

.homepage .navbar-brand {
    float: none;
    display: block;
    text-align: center;
    padding: 17px 15px 16px;
}

    .homepage .navbar-brand > img {
        height: auto;
    }


.home_banner {
    background: url(../images/head.jpg) no-repeat 0 55%;
    background-size: cover;
    position: relative;
    min-height: 600px;
}

    .home_banner .home_banner_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.5;
        background-image: linear-gradient(89deg,#00b2a6 0%,#333333 100%);
    }

.home_banner_wrap {
    position: relative;
    z-index: 2;
    display: table;
    width: 100%;
    padding: 0 15px;
}

.home_banner_cell {
    display: table-cell;
}

    .home_banner_cell.home_head {
        width: 70%;
        vertical-align: middle;
        padding-right: 80px;
    }

.stuck_mobile_wrap {
    vertical-align: bottom;
    padding-top: 30px;
}

.home_head_text, .home_head_subtext {
    margin: 0;
}

.home_head_text {
    font-size: 60px;
    color: rgb(255, 255, 255);
    line-height: 72px;
    text-align: left;
    font-weight: 700;
    font-style: normal;
    margin: 30px 0;
}

.home_head_subtext {
    font-size: 26px;
    color: rgb(255, 255, 255);
    line-height: 31px;
    text-align: left;
    margin-bottom: 30px;
    font-weight: 400;
}

.badge_icons > a > img {
    margin: 5px;
    width: 150px;
}

.badge_icons > a:first-child > img {
    margin-left: 0px;
}

.badge_icons > a:last-child > img {
    margin-right: 0px;
}


/* ---------- After Banner --------- */
.perks {
    background: url(../images/tick.png) no-repeat 0 50%;
    margin: 45px 0;
    color: #737477;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    text-transform: none;
    padding: 15px 0 13px 60px;
}

.stuck_media_logos {
    padding: 50px 0;
    margin-bottom: 30px;
}

.stuck_video_thumb {
    height: 395px;
}

/* ---------- Intrim Banner --------- */
.intrim_banner {
    padding: 80px 0;
}

h2.intrim_banner_text {
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 48px;
    text-align: center;
    margin: 0;
    padding: 0 20px;
}

.intrim_banner.with_image {
    background: url(../images/foot.jpg) no-repeat 0 50%;
    background-size: cover;
    padding: 90px 20px;
}

    .intrim_banner.with_image h2.intrim_banner_text {
        font-size: 36px;
        color: #fff;
        line-height: 44px;
        text-align: center;
        margin: 0 0 17px 0;
    }

    .intrim_banner.with_image h3.intrim_banner_text {
        font-size: 24px;
        color: #fff;
        line-height: 26px;
        text-align: center;
        margin: 0;
    }

/* ---------- Services --------- */
.services {
    padding: 80px 0;
}

    .services .table_div_cell {
        background: #fbfbfb;
    }

        .services .table_div_cell.grayBG {
            background: #f4f4f4;
        }

.services_wrap {
    padding: 40px 40px 40px 90px;
}

.services_head {
    color: #232d3d;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.services_wrap > a,
.services_wrap > a:hover,
.services_wrap > a:focus,
.services_wrap > a:active {
    text-decoration: none;
    color: #888;
}

    .services_wrap > a > p {
        margin-bottom: 20px;
        line-height: 20px;
    }

.services_wrap > p:last-child {
    margin-bottom: 0px;
}

.services_icon.battery {
    background: url(../images/Battery.png) no-repeat 15px 20px;
    background-size: 70px;
}

.services_icon.tyre {
    background: url(../images/tyre.png) no-repeat 15px 20px;
    background-size: 70px;
}

.services_icon.fuel {
    background: url(../images/fuel.png) no-repeat 15px 20px;
    background-size: 70px;
}

.services_icon.lockout {
    background: url(../images/LockedOut.png) no-repeat 15px 20px;
    background-size: 70px;
}

.services_icon.mechanical {
    background: url(../images/mechanical.png) no-repeat 15px 20px;
    background-size: 70px;
}

.services_icon.tow {
    background: url(../images/tow.png) no-repeat 15px 20px;
    background-size: 70px;
}

.conditions_apply {
    padding: 50px 0 30px;
}


/* ---------- Testimonial --------- */
.testimonials {
    padding: 80px 0;
}

.testimonial_wrap {
    padding: 35px;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(131deg,#47b2ab 19%,#a5e25a 100%);
    margin: 0 12px;
    min-height: 500px;
}

    .testimonial_wrap > img {
        border-color: #ffffff;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
        margin-bottom: 20px;
    }

.testimonial_text > p {
    color: #fff;
    font-weight: 600;
    line-height: 24px;
}

.testimonial_text > span {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
}


/* ---------- Customers --------- */
.customers {
    padding: 50px 0;
}

.customers_wrap {
    border-width: 7px;
    border-color: #f3f3f3;
    border-style: double;
    border-radius: 0px;
    padding: 45px;
    background: #ffffff;
    min-height: 303px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

    .customers_wrap > img {
        border-color: #ffffff;
        border-style: solid;
        border-radius: 50%;
        border-width: 2px;
        margin-bottom: 20px;
    }

.customers_text > p {
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.customers_text > span {
    color: #666;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
}

    .customers_text > span > img {
        width: 12px;
        height: 12px;
    }


/* ---------- News --------- */
.news {
    padding: 50px 0;
}

.news_wrap {
    margin: 0 15px;
}

    .news_wrap > a > img {
        width: 100%;
    }

.news_text {
    background: #f4f4f4;
    padding: 40px 20px;
    min-height: 380px;
}

    .news_text > h3 {
        margin: 0 0 20px 0;
        font-size: 16px;
        line-height: 22px;
    }

    .news_text > p {
        line-height: 28px;
        margin-bottom: 20px;
    }


/* ---------- Get on Board --------- */
.get_on_board {
    padding: 50px 0 90px 0;
}

.get_on_board_form {
    margin-top: 20px;
    background: #4a4b4c;
    padding: 40px 35px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.84);
    -moz-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.84);
    box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.84);
    max-width: 535px;
    margin: 0 auto;
}

    .get_on_board_form input {
        background: #fff;
        padding: 5px 15px;
        border: 1px solid #ccc;
        display: block;
        width: 100%;
        margin-bottom: 18px;
        max-width: 100%;
        font-size: 22px;
        height: 50px;
    }

    .get_on_board_form .btn.btn-primary {
        width: 100%;
        border-radius: 0;
        background: #00B2A6;
        text-transform: uppercase;
        padding: 12px 30px;
        font-size: 22px;
    }

.get_on_thank_you {
    padding: 80px 0 100px 0;
    text-align: center;
}

    .get_on_thank_you .btn.btn-primary {
        margin-bottom: 20px;
    }

    .get_on_thank_you h2 {
        font-size: 28px;
        line-height: 32px;
        margin: 0 0 20px 0;
    }

/* ------------- Decor ------------- */
.left_section {
    border-right: 1px solid #ccc;
}

.table_div_cell.half:first-child {
    padding-right: 15px;
}

.table_div_cell.half:last-child {
    padding-left: 15px;
}

.table_div_cell.quater {
    padding: 0 15px;
}

    .table_div_cell.quater:first-child {
        padding-left: 0px;
    }

    .table_div_cell.quater:last-child {
        padding-right: 0px;
    }

.centered {
    text-align: center;
}

    .centered.fixed_width {
        width: 540px;
        margin: 0 auto;
    }

/* ------------- Titles ------------- */
.fusion_title {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
}

    .fusion_title.small {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px
    }

    .fusion_title.smaller {
        font-size: 16px;
        line-height: 18px;
    }

.fusion_subtitle {
    margin: 0 0px 10px 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
}

.fusion_subheader {
    margin: 0 0px 15px 0;
    padding: 0 0 5px 0;
    font-size: 20px;
    line-height: 22px;
    border-bottom: 1px solid #ccc;
    color: #02b3a7;
}

.page_header .section_header .fusion_subtitle {
    text-align: center;
}

/* ------------- Map -------------- */
.map_wrapper {
    position: relative;
}

.mainMap {
    width: 100%;
    height: 400px;
}

.location_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.enter_location {
    width: 300px;
    margin: 0px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 10px 15px;
    height: auto;
    background: #fff;
    border-radius: 0;
    border: none;
}

    .enter_location.source_loc {
        margin-top: 15px;
    }


/* ----------- Service ----------- */
.choose_service {
    background: #FAFAFA;
}

.choose_service_title {
    background: #262626;
    padding: 12px 20px 10px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 32px;
}

.choose_service_list {
    margin: 0 auto;
    width: 80%;
    padding: 15px 0;
}

    .choose_service_list > .box-outer {
        display: table;
        width: 100%;
        text-align: center;
    }

        .choose_service_list > .box-outer.after_click {
            margin: 0 auto;
            width: 450px;
        }

        .choose_service_list > .box-outer > div {
            display: table-cell;
        }

        .choose_service_list > .box-outer > .box_icon {
            width: 120px;
        }

        .choose_service_list > .box-outer > .box_desc {
            vertical-align: middle;
            line-height: 18px;
        }

.box_desc .desc_title {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.choose_service_list > .box-outer > a {
    display: table-cell;
    text-align: center;
    text-decoration: none;
}

    .choose_service_list > .box-outer > a:hover,
    .choose_service_list > .box-outer > a:focus,
    .choose_service_list > .box-outer > a:active {
        text-decoration: none;
    }

.choose_service_list > .box-outer.after_click {
    width: auto !important;
}

/* --------- Services Landing Pages -------- */
.service_landing_wrap {
    margin: 20px 0 40px 0;
}

.service_content > p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.service_content > h1 {
    color: #333;
    font-size: 34px;
    line-height: 40px;
    margin: 10px 0 20px 0;
}

    .service_content > h1 > a,
    .service_content > h1 > a:hover,
    .service_content > h1 > a:focus,
    .service_content > h1 > a:active {
        text-decoration: none;
    }

.service_content > h2 {
    color: #333;
    font-size: 24px;
    line-height: 28px;
    margin: 40px 0 15px 0;
}

.service_landing_wrap > .badge_icons {
    margin-bottom: 20px;
}


/* ---------- Confirm Booking ------------- */
.gm-style-iw {
    top: 17px !important;
    left: 25px !important;
}

#iw-container .iw-title {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: #02B3A7;
    padding: 12px 40px 13px;
    border-radius: 25px;
}

#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}

.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}

.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.modal-content {
    border: none;
}

.modal-title {
    margin: 0;
    line-height: 24px;
    font-size: 22px;
}

.modal-footer {
    background-color: #262626;
    border: 0;
    margin: 0;
    padding: 10px 15px;
}

.modal-header {
    background-color: #02B3A7;
    color: white;
    border: 0;
    margin: 0;
}

.modal-body {
    background-color: #262626;
    color: white;
}

    .modal-body .info {
        margin-bottom: 20px;
    }

.modal-dialog {
    width: 470px;
}

.info .info_title {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 5px;
}

.thankyou {
    margin: 40px 0 20px 0;
}

.thankyou_wrap {
    max-width: 735px;
    margin: 0 auto;
}

/* ----------- Forms ------------- */
.form_table {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

    .form_table .form_cell {
        display: table-cell;
        vertical-align: middle;
    }

    .form_table label.form_cell {
        width: 150px;
        padding-right: 15px;
        text-align: right;
    }

.view_form .form_table > .form_cell:first-child {
    font-weight: normal;
}

.left_aligned_form .form_table .form_cell {
    text-align: left;
}

.form_table label.value_field.form_cell {
    width: auto;
}

.validlablel.field-validation-error {
    /*position:absolute;*/
}

.form-control.valid, .form-control, input[type="text"] {
    color: #333;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 2px;
}

.button_wrap {
    margin-top: 20px;
}

    .button_wrap.center_wrap {
        text-align: center;
    }


/* ------------ Footer ---------- */
footer.fusion-footer-widget-area {
    border-top: 12px solid #e9eaee;
}

    footer.fusion-footer-widget-area a {
        display: block;
    }

.fusion-footer-widget-area .mB15 > a > img {
    margin-bottom: 25px;
}

/* -------------- FAQs ---------------- */
.faqs .intrim_banner.with_image {
    text-align: left;
    background-size: 300%;
    background-position: 50% 35%;
    padding: 60px 0px;
}

    .faqs .intrim_banner.with_image h2.intrim_banner_text {
        text-align: left;
        font-size: 40px;
        padding: 0;
        margin: 0;
        line-height: 56px;
    }

    .faqs .intrim_banner.with_image p.intrim_banner_text {
        color: #fff;
        font-size: 18px;
        line-height: 26px;
    }

.stuck_accordion {
    margin: 65px 0 40px 0;
}

    .stuck_accordion .stuck_content {
        padding: 20px;
    }

    .stuck_accordion > div.accordion_item > a {
        background: #f5f5f5;
        padding: 22px 30px;
        display: block;
        transition: all .25s;
    }

        .stuck_accordion > div.accordion_item > a > span {
            font-weight: 900;
            font-size: 22px;
            padding-right: 10px;
            position: relative;
            top: 2px;
        }

        .stuck_accordion > div.accordion_item > a:hover,
        .stuck_accordion > div.accordion_item > a:focus,
        .stuck_accordion > div.accordion_item > a:active {
            background: #e5e5e5;
            text-decoration: none;
        }

.accordion_item {
    margin-bottom: 10px;
}

    .accordion_item .stuck_content {
        display: none;
    }

        .accordion_item .stuck_content > div {
            margin-bottom: 50px;
        }

.stuck_content h3 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 15px;
}

.stuck_content p {
    color: #555;
    line-height: 18px;
}

/* --------------- Media Kit -------------- */
.media_kit {
    margin: 40px 0 60px 0;
}

h1.page_title {
    color: #333;
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 30px;
}

.media_kit_icon {
    width: 100px;
    margin-bottom: 30px;
}

    .media_kit_icon > img {
        display: block;
        width: 100%;
    }

.stuck_content > div {
    margin-bottom: 30px;
}

.media_kit .stuck_content h3 {
    font-weight: 500;
}

    .media_kit .stuck_content h3 > span {
        font-size: 14px;
        line-height: 18px;
    }

.media_kit .stuck_content a {
    text-decoration: underline;
    color: #333;
}

.media_kit .stuck_content p {
    margin-bottom: 15px;
    line-height: 22px;
}

    .media_kit .stuck_content p > span {
        color: #aaa;
    }

.media_kit .stuck_content ol {
    margin: 20px 0;
}

    .media_kit .stuck_content ol > li {
        margin-bottom: 5px;
        line-height: 22px;
        color: #555;
    }

.media_kit .stuck_content > div > p > a {
    margin-bottom: 5px;
    line-height: 22px;
    color: #555;
}

.media_images > img {
    margin-bottom: 30px;
}

.media_images.media_small > img {
    margin-right: 20px;
}

    .media_images.media_small > img:last-child {
        margin-right: 0px;
    }

/* ----------- Latest News ------------- */
.latest_news {
    margin: 50px 0 60px 0;
}

.news_section h1 {
    margin: 30px 0 20px 0;
}

    .news_section h1 a {
        font-size: 24px;
        line-height: 30px;
        text-decoration: none;
    }

.news_block .new_images {
    width: 600px;
}

    .news_block .new_images > img {
        width: 100% !important;
    }

.stuck_content.news_section p {
    color: #737577;
    line-height: 28px;
    margin-bottom: 20px;
}

.stuck_content.news_section a {
    text-decoration: none;
}

.stuck_content.news_section .news_block .comments_box {
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    font-size: 12px;
}

.stuck_content > .news_block {
    margin-bottom: 50px;
}

/* ----------- Pagination ----------- */
.pagination {
    margin: 0;
}

    .pagination > li > a {
        border: 1px solid #e0dede;
        padding: 3px 8px;
        border-radius: 0 !important;
        margin-right: 8px;
    }

        .pagination > li > a:hover,
        .pagination > li > a:active,
        .pagination > li > a:focus {
            border: 1px solid #00b2a6;
            background: none;
            color: #747477
        }

        .pagination > li > a.active {
            border: 1px solid #00b2a6;
            background: #00b2a6;
            color: #fff;
        }

        .pagination > li > a.next_link {
            background: none;
            border: 1px solid transparent;
        }

/* ------------- Supplier ----------- */
.supplier.gradient.banner {
    height: 650px;
}

.supplier .home_banner_wrap {
    padding: 0;
    position: relative;
}

.supplier .home_banner_cell.home_head {
    vertical-align: top;
    position: relative;
    top: 30px;
}

.supplier .home_banner_cell.stuck_mobile_wrap {
    vertical-align: top;
    position: relative;
    top: 150px;
}

.supplier .home_head_text {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    margin-bottom: 25px;
}

.supplier .home_head_subtext {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
}

.supplier .home_head_small {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px 0;
    color: #fff;
}

.supplier .get_on_board {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}

.supplier .get_on_board_form {
    max-width: 100%;
}

.supplier .small_info_box {
    position: relative;
    top: -10px;
    color: #fff;
    font-size: 11px;
}

.supplier .section2 {
    margin-top: 200px;
}

    .supplier .section2 .header2 {
        font-size: 40px;
        color: rgb(117, 119, 121);
        line-height: 48px;
        text-align: center;
        font-weight: 400;
        max-width: 535px;
        margin: 0 auto 50px;
    }

.stuck_icon_grid {
    margin: 40px 0 30px 0;
}

    .stuck_icon_grid .table_div_cell {
        padding: 15px;
    }

        .stuck_icon_grid .table_div_cell > h3 {
            margin: 15px 0 10px 0;
            color: #4ac2c1;
            font-size: 16px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 400;
        }

        .stuck_icon_grid .table_div_cell > p {
            color: #888;
            font-size: 16px;
            line-height: 18px;
        }

.how_it_works {
    margin-bottom: 20px;
}

    .how_it_works .table_div_cell {
        padding: 0 15px;
    }

.block_withArrow {
    background: url(/images/arrow-copy.png) no-repeat right 20px;
    padding-right: 50px;
    min-height: 220px;
}

    .block_withArrow h3 {
        line-height: 36px;
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        margin-top: 10px;
    }

    .block_withArrow p {
        line-height: 21px;
        font-size: 14px;
        color: #fff;
        font-weight: 500;
    }

.supplier.features {
    margin: 10px 0 60px 0;
}

    .supplier.features .home_head_text,
    .supplier.features .home_head_subtext {
        color: #888;
    }

.how_it_works .table_div_cell:first-child {
    padding-left: 0;
}

.how_it_works .table_div_cell:last-child .block_withArrow {
    background: none;
    padding-right: 15px;
}

.features_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .features_list > li {
        font-size: 16px;
        line-height: 24px;
        color: #888;
        margin-bottom: 15px;
        padding-left: 30px;
    }

        .features_list > li > span {
            color: #4ac2c1;
        }

        .features_list > li.get_allocated {
            background: url(/images/Image_011.gif) no-repeat left top;
        }

        .features_list > li.know_who {
            background: url(/images/Image_012.gif) no-repeat left top;
        }

        .features_list > li.turn_by_turn {
            background: url(/images/Image_013.gif) no-repeat left top;
        }

        .features_list > li.contact_customer {
            background: url(/images/Image_014.gif) no-repeat left top;
        }

        .features_list > li.no_cash {
            background: url(/images/Image_015.gif) no-repeat left top;
        }

        .features_list > li.sell_additional {
            background: url(/images/Image_016.gif) no-repeat left top;
        }

        .features_list > li.get24x7 {
            background: url(/images/Image_017.gif) no-repeat left top;
        }

        .features_list > li.rate_customer {
            background: url(/images/Image_018.gif) no-repeat left top;
        }

        .features_list > li.choose_who {
            background: url(/images/Image_019.gif) no-repeat left top;
        }

        .features_list > li.ios_android {
            background: url(/images/Image_020.gif) no-repeat left top;
        }

.get_started_with_stuck {
    background: #4CADC9;
    padding: 18px 25px 18px 25px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-top: 40px;
    display: inline-block;
}

    .get_started_with_stuck > span {
        padding-left: 10px;
    }

    .get_started_with_stuck:focus,
    .get_started_with_stuck:active,
    .get_started_with_stuck:hover {
        background: #4CADC9;
        color: #fff;
        text-decoration: none;
    }


/* Internet Explorer Fixes */
.no-flexboxlegacy div.gm-style > div > div > div > div > div > div:nth-child(3) {
    left: 160px !important;
}

.no-flexboxlegacy #iw-container .iw-title {
    font-size: 21px !important;
}

.no-flexboxlegacy .customers_wrap {
    display: block;
}

/*
----------------------
	Media Queries
----------------------
*/

@media only screen and (min-width:768px) and (max-width:1199px) {
    .member {
        position: relative;
        top: -13px;
    }

    .supplier .home_banner_cell.home_head {
        top: 0;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .form_table label.form_cell {
        width: 100px;
    }

    .home_banner_cell.home_head {
        padding-right: 40px;
    }

    .supplier.gradient.banner {
        height: 750px;
    }

    .supplier .home_banner_cell.home_head {
        padding-right: 0px;
    }

    .supplier .get_on_board_form {
        padding: 25px 20px;
    }

    .supplier .home_head_text {
        font-size: 35px;
        line-height: 38px;
    }

    .supplier .home_head_subtext {
        font-size: 20px;
        line-height: 24px;
    }

    .supplier .section2 {
        margin-top: 150px;
    }

    .stuck_icon_grid .table_div_cell {
        padding: 10px 5px;
    }

    .how_it_works .table_div_cell {
        padding: 0 5px;
    }

        .how_it_works .table_div_cell:last-child .block_withArrow {
            padding-right: 0;
        }

    .block_withArrow {
        padding-right: 40px;
    }

    .block_withArrow {
        background: url(/images/arrow-copy.png) no-repeat right 50px;
    }
}

@media only screen and (max-width:991px) {
    .services_icon {
        background-position: center 20px !important;
    }

    .services_wrap {
        padding: 110px 20px 20px 20px;
        text-align: center
    }

        .services_wrap .services_head {
            text-align: center;
            margin-bottom: 5px;
        }

    .testimonial_wrap {
        padding: 25px 15px;
    }

        .testimonial_wrap > img {
            width: 80%;
        }

    .customers_wrap {
        padding: 15px;
    }

    .news_text {
        padding: 30px 15px;
        min-height: 550px;
    }

    .media_images {
        text-align: center;
    }

        .media_images.media_small > img {
            margin-right: 15px;
        }

            .media_images.media_small > img:nth-child(3) {
                margin-right: 0;
            }
}

@media only screen and (max-width:767px) {
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        background: #333;
        padding: 0;
    }

        .navbar-inverse .navbar-collapse > .pull-right,
        .navbar-inverse .navbar-form > .pull-right {
            float: none !important;
        }

    .navbar-nav {
        margin: 0;
    }

    .table_div {
        display: block;
    }

    .table_div_cell {
        display: block;
        padding: 0 !important;
    }

        .table_div_cell.half {
            width: auto;
        }

        .table_div_cell.quater {
            width: auto;
        }

    .left_section {
        border-right: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
    }

        .left_section.no_border_mobile {
            border: 0;
        }

    .fusion-footer-widget-area {
        padding: 40px 0;
    }

    .choose_service {
        overflow: hidden;
    }

    .choose_service_title {
        font-size: 24px;
        line-height: 26px;
    }

    .choose_service_list {
        width: 100%;
        padding: 15px;
        overflow: auto;
    }

        .choose_service_list > .box-outer > a {
            display: inline-block;
        }

            .choose_service_list > .box-outer > a > .box {
                background: #e5e5e5;
                margin: 10px;
                padding: 10px;
                border-radius: 4px;
                width: 140px;
            }

    #iw-container .iw-title {
        font-size: 12px;
        padding: 10px 20px 10px;
    }

    .mainMap {
        height: 425px;
    }

    .modal-dialog {
        width: 100%;
    }

    .home_banner_cell.home_head,
    .stuck_mobile_wrap {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .home_head_subtext {
        margin-bottom: 20px;
    }

    .stuck_mobile_wrap > img {
        width: 200px;
        margin: 20px 0;
    }

    .home_head_text {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
    }

    .home_head_subtext {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .perks {
        text-align: center;
        background-position: center top !important;
        padding: 60px 0 10px 0;
    }

    .stuck_video_thumb {
        height: auto;
        width: 100%;
    }

    .stuck_media_logos > a > img {
        width: 100%;
    }

    h2.intrim_banner_text {
        font-size: 30px;
        line-height: 38px;
        padding: 0 15px;
    }

    .services .table_div_cell.third,
    .testimonials .table_div_cell.third,
    .customers .table_div_cell.third,
    .news .table_div_cell.third {
        width: 100%;
    }

    .testimonial_wrap {
        margin: 0 0 15px 0;
        min-height: initial;
    }

        .testimonial_wrap > img {
            width: 150px;
        }

    .customers_wrap {
        min-height: initial;
        padding: 20px;
        margin: 0 0 15px 0;
    }

    .news_wrap {
        margin: 0 0 15px 0
    }

    .news_text {
        min-height: initial;
    }

    .badge_icons_footer {
        display: block;
        width: 100%;
        float: none;
        clear: both;
        padding-top: 20px;
    }

    .get_on_thank_you {
        padding: 20px 0 40px 0;
    }

    footer.fusion-footer-widget-area {
        text-align: center;
    }

    .news_block .new_images {
        width: auto;
    }

    .supplier.gradient.banner {
        height: auto;
        padding-bottom: 40px;
    }

    .supplier .home_banner_cell.home_head {
        top: 0;
    }

    .supplier .get_on_board {
        position: static;
        top: 0;
    }

    .supplier .home_banner_cell.stuck_mobile_wrap {
        top: 10px;
    }

    .supplier .section2 {
        margin-top: 40px;
    }

    .stuck_icon_grid .table_div_cell {
        text-align: center;
        margin-bottom: 40px;
    }

    .block_withArrow {
        background: none;
        padding: 0;
        min-height: initial;
        text-align: center;
        margin: 0 auto 30px;
        max-width: 300px;
    }

    .how_it_works .table_div_cell:last-child .block_withArrow {
        padding-right: 0;
    }

    .block_withArrow h3 {
        margin-bottom: 10px;
    }

    .how_it_works {
        margin-bottom: 40px;
    }

    .section2 iframe,
    .stuckvideo iframe {
        width: 100%;
        height: 300px;
    }

    .center_767 {
        text-align: center;
    }

        .center_767 > a {
            margin-top: 20px;
        }

    .supplier .home_head_text {
        font-size: 35px;
        line-height: 40px;
    }

    .supplier .get_on_board_form {
        padding: 20px 15px;
    }

    .supplier .home_banner_wrap {
        display: block;
    }

    .supplier .get_on_board_form .btn.btn-primary {
        font-size: 18px;
    }

    .supplier .section2 .header2 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media only screen and (max-width:591px) {
    .media_images.media_small > img:nth-child(2n) {
        margin-right: 0;
    }

    .media_images.media_small > img:nth-child(3) {
        margin-right: 15px;
    }

    .media_images.media_small > img:last-child {
        margin-right: 15px;
    }

    .news_section.stuck_content .read_more {
        display: block;
        float: none !important;
        margin: 15px 0 0 0;
    }
}

@media only screen and (max-width:580px) {
    .centered.fixed_width {
        width: 100%;
        margin: 0 auto;
    }

    .faqs .intrim_banner.with_image h2.intrim_banner_text {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 5px;
    }

    .faqs .intrim_banner.with_image p.intrim_banner_text {
        font-size: 14px;
        line-height: 18px;
    }

    .faqs .intrim_banner.with_image {
        background-size: auto;
        padding: 40px 0;
    }

    .stuck_accordion {
        margin: 25px 0 40px 0;
    }
}

@media only screen and (max-width:480px) {
    .sign_in {
        display: none;
    }

    .home_banner_wrap {
        padding: 0;
    }

    .home_banner_cell .badge_icons > a > img {
        width: 120px;
    }
}

@media only screen and (max-width:420px) {
    .form_table label.form_cell {
        width: 100px;
    }

    .table_div_cell.media_images > img {
        width: 100%;
    }

    .media_images.media_small > img {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
}

@media only screen and (max-width:360px) {
    .form_table {
        display: block;
    }

        .form_table .form_cell {
            display: block;
        }

        .form_table label.form_cell {
            width: auto;
            text-align: left;
        }
}

body {
    font-family: 'Ropa Sans', sans-serif;
}

.body-content .lgl {
    padding-top: 18px;
    padding-bottom: 40px;
}

    .body-content .lgl h1 {
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        line-height: 1.4;
        font-size: 34px;
        color: #333333;
    }

    .body-content .lgl p {
        margin-top: 0;
        margin-bottom: 20px;
        color: #737577;
        font-size: 14px;
        line-height: 2;
        font-weight: 400;
        letter-spacing: 0px;
    }

.body-content .ptxt,
.body-content .ckiestxt {
    padding-top: 18px;
    padding-bottom: 40px;
}

    .body-content .ptxt h1,
    .body-content .ckiestxt h1 {
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        line-height: 1.4;
        font-size: 34px;
        color: #333333;
    }

    .body-content .ptxt h3,
    .body-content .ckiestxt h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0px;
        font-size: 16px;
        color: #333333;
    }

    .body-content .ptxt p,
    .body-content .ckiestxt p {
        margin-top: 0;
        margin-bottom: 20px;
        color: #737577;
        font-size: 14px;
        line-height: 2;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .body-content .ptxt ul li,
    .body-content .ckiestxt ul li {
        margin-top: 0;
        margin-bottom: 0px;
        color: #737577;
        font-size: 14px;
        line-height: 2;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .body-content .ckiestxt table td {
        line-height: 2;
    }

@media only screen and (max-width: 767px) {
    .body-content.hgt {
        min-height: 1px;
        height: calc(100vh - 55px);
    }

    .map_wrapper {
        height: calc(100vh - 268px);
    }

    .vh-height .map_wrapper {
        height: calc(100vh - 55px);
    }

    .map_wrapper .mainMap {
        height: 100%;
    }

    .choose_service .choose_service_list {
        height: 165px;
        overflow: hidden;
        overflow-y: auto;
        padding: 5px 15px;
    }

        .choose_service .choose_service_list.clk-view {
            height: 210px;
        }

    .table_div_cell .button_wrap {
        position: relative;
    }

    .button_wrap:before, .button_wrap:after {
        content: '';
        display: table;
        clear: both;
    }

    .choose_service_list > .box-outer {
        width: 500px !important;
        margin: 0 auto;
        text-align: center;
    }

        .choose_service_list > .box-outer > a > .box {
            margin: 4px;
            padding: 4px 10px;
        }
}

@media only screen and (max-width: 500px) {
    .choose_service_list > .box-outer {
        width: 375px !important;
    }

        .choose_service_list > .box-outer > a > .box {
            width: 100px;
            /*margin: 18px 10px;*/
        }

        .choose_service_list > .box-outer .box img {
            width: 40%;
            height: auto;
        }
}

@media only screen and (max-width: 400px) {
    .choose_service_list > .box-outer {
        width: 318px !important;
    }

        .choose_service_list > .box-outer > a > .box {
            width: 94px;
        }
}

#notification_li {
    position: relative
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 45px;
    margin-left: -170px;
    width: 400px;
    z-index: -1;
    display: none;
}

    #notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid black;
        border-color: transparent transparent white;
        margin-top: -20px;
        margin-left: 188px;
    }

#notificationTitle {
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}

#notificationsBody {
    padding: 33px 0px 0px 0px !important;
    min-height: 300px;
}

#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}



#notification_count {
    padding: 3px 7px 3px 7px;
    background: darkgoldenrod;
    color: #ffffff;
    font-weight: bold;
    margin-left: 91px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: -38px;
    font-size: 11px;
}

@media only screen and (max-width: 767px) {
    #notificationContainer {
        position: initial;
        margin-left: 0px;
    }

    .navbar-collapse .in {
        display: block !important;
    }
}

.mob-noty {
    position: absolute;
    right: 66px;
    top: 18px;
    display: none;
}

.icon-wrap {
    cursor: pointer;
}

.mob-noty span.noty-icon {
    position: relative;
    z-index: 9;
}

.mob-noty span#notification_count {
    position: absolute;
    right: -14px;
    top: 0px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    z-index: 9999;
    padding: 2px 0;
    margin: 0;
    text-align: center;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.mob-noty ul {
    display: none;
}

ul.opn {
    position: absolute;
    right: -50px;
    top: -10px;
    width: 300px;
    list-style: none;
}

.opn div#notificationContainer {
    display: block !important;
    position: relative;
    height: auto;
    margin: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.opn div#notificationTitle {
    width: inherit;
    position: relative;
}

.opn div#notificationsBody {
    padding-top: 0 !important;
    min-height: 1px;
}

@media only screen and (max-width: 767px) {
    .mob-noty {
        display: block;
    }

    .nav.navbar-nav #notification_li {
        display: none !important;
    }
}
